[2016-01-16 21:41] Heavybob opened #1 "All the issues are gone."
All the issues are gone, EVERYONE REPOST ISSUES!

[2016-01-16 21:43] Heavybob opened #2 "Clothing Shop Exploit"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/57

@tkcjesse
Go to a rebel outpost for example Pull out enough money to purchase 1 vest Click a vest, click the one you want to purchase multiple of Then just spam click on the vest for a bit then click buy You've now filled your backpack with vests for the cost of 1 Here's a video Figured since you've been working on

[2016-01-16 21:47] Heavybob opened #3 "Vehicle preview (suggestion)"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/53

@clackd1amond
Sometimes new players that don't have a lot of money on them want to see what they buy. They see clothes but they don't see vehicles. Is it possible to create for veh shop a similar preview mode as for the clothes? It would be very helpful and would look awesome.

@danielstuart14
yes, we can do it as c

[2016-01-16 21:49] Heavybob opened #4 "WHAT IS NEXT?"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/41

@danielstuart14
https://trello.com/b/9urCslRT/altis-life
So, don't ask for features that are already added to this list.

[2016-01-16 21:52] Heavybob opened #5 "Better gunshop / car shop Suggestion"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/23

@Heavybob
The default item purchasing system in altis needs a face lift, especially since we have things like virtual arsenal now supported in arma 3. I am proposing an overhall of the existing clothing shop to add support for primary and secondary weapons + attachment + default ammo configs for weapons because I am

[2016-01-16 21:53] Heavybob opened #6 "Vehicle Inventory/Trunk"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/24

@Heavybob
I noticed in the database structure that Vehicle Inventory/Trunk does have an inventory collum though in this build its not used. Wondering if it was going to be worked in in the future.

Thanks

[2016-01-16 21:54] Heavybob opened #7 "Supply system for weapons"
*REPOST FROM PREVIOUS GIT*
https://github.com/danielstuart14/Altis-Life/issues/14

@sargken
Its a suggestion and u have the knowledge to do it is adding a supply system to gun shops with if you set it to 10 guns if a person buys one there is only 9 left. Possibly also a timer to refresh the supply.

[2016-01-16 21:56] #1 closed

[2016-01-17 00:40] danielstuart14 commented on #1
thx for reposting :beers:

[2016-01-17 01:05] Heavybob commented on #5
Just proof of concept
![107410_screenshots_2016-01-17_00003](https://cloud.githubusercontent.com/assets/4519067/12375343/273ed50e-bd12-11e5-9eb4-33ed1691f8ed.jpg)
![107410_screenshots_2016-01-17_00004](https://cloud.githubusercontent.com/assets/4519067/12375345/35f14c76-bd12-11e5-8748-d08eb1a8d650.jpg)
http://images.akamai.steamusercontent.com/ugc/365156556363123347/80EC6EC5A455031EDD3B35783809C48

[2016-01-17 02:15] Heavybob opened #9 "Discord Chatroom"
Want to complain about something or talk to the guys?
https://discord.gg/0lp9duZY371WySXw
*LINK UPDATED*

Join us today?

[2016-01-17 04:33] Heavybob commented on #6
@sargken Mentioned to me during a chat on teampeak that he has created a solution and will commit the change in the coming days.

[2016-01-17 04:42] sargken commented on #9
https://discord.gg/0lp9duZY371WySXw Use this link instead.

[2016-01-17 18:57] clackd1amond opened #13 "Error in fn_colorVehicle.sqf when spawning a vehicle"
Seems, it doesn't affect anything, but it occurs everytime you spawn a vehicle.

RPT:
20:53:17 Suspending not allowed in this context
20:53:17 Error in expression <_VEH_color",_index,true];
};

waitUntil{!isNil {_vehicle getVariable "Life_VEH_c>
20:53:17   Error position: <!isNil {_vehicle getVariable "Life_VEH_c>
20:53:17 File mpmissions\__CUR_MP.Altis\core\vehicle\fn_colorVehicle.sqf, line 44

[2016-01-17 19:08] danielstuart14 commented on #13
yeah, I thought I fixed this... But seems that I didn't...

[2016-01-17 20:48] sargken commented on #6
#14 Fixing this issue, #17 Expands on what you are requesting here. Now Gear for Vehicles can be saved.

[2016-01-17 21:06] crackhead commented on #13
I allredy gave a fix in the old get hub but you der it is no error there

[2016-01-17 21:13] danielstuart14 commented on #13
just pull-request it here

[2016-01-17 21:44] tkcjesse opened #19 "Open Vehicle Inventory"
So now you can apparently open vehicle inventory when locked. Since inventoryOpened.sqf wasn't changed I'm assuming it's from a vehicle change? Not quite sure. Just wanted to document this... I'll look into it a bit.

[2016-01-17 22:05] danielstuart14 commented on #19
Trunk or arma inventory?

[2016-01-17 22:05] tkcjesse commented on #19
@danielstuart14 Arma Inventory

[2016-01-17 22:10] Heavybob commented on #13
:+1: Pull request

[2016-01-17 22:11] Heavybob commented on #6
https://github.com/ArmaLife/Altis/commit/ef956fb17d62cac7c705c49fd88b315926a21428

Testing pull request later today :+1: @sargken

[2016-01-17 22:13] Heavybob commented on #19
Will check when I start testing the latest build. Gotta test persistent trunk inv.

[2016-01-17 22:57] tkcjesse commented on #19
Using the current build both Arma and Trunk are now accessible when locked.

[2016-01-17 22:58] sargken commented on #19
@tkcjesse There are some errors with the currently build so standby.

[2016-01-17 23:09] crackhead opened #24 "Gang Bug"
Leaving a gang error
3:40:30 Error in expression <eGroup civilian);

[_unit,group player] remoteExec ["TON_fnc_clientGangLeft",_un>
23:40:30   Error position: <remoteExec ["TON_fnc_clientGangLeft",_un>
23:40:30   Error Typ Jede, erwartet Zahl, Seite, Objekt, Gruppe, Zeichenfolge
23:40:30 File mpmissions\__CUR_MP.Altis\core\gangs\fn_gangLeave.sqf, line 17
23:47:30 Fresnel n must be >0, given n=0,k=

[2016-01-17 23:21] crackhead commented on #19
https://github.com/crackhead/Altis/commit/b6ea08561f14898335c4b851fc6798909da4ebd3

[2016-01-17 23:33] Heavybob commented on #6
*Closing Thread*

[2016-01-17 23:33] #6 closed

[2016-01-18 01:10] #2 closed

[2016-01-18 01:12] danielstuart14 commented on #19
Thx @crackhead

[2016-01-18 01:13] danielstuart14 commented on #19
fixed now?

[2016-01-18 01:27] danielstuart14 commented on #13
https://github.com/ArmaLife/Altis/commit/c0f2aa748a1428334ee3fec6f469a78756db4fb0

[2016-01-18 01:27] #13 closed

[2016-01-18 01:38] Heavybob opened #28 "Garage Withdraw Error"
If you attempt to withdraw your Veh from the garage it will not spawn and do nothing. It will not delete/say the car is spawned, just won't spawn it at all. No Silent Errors

SERVER RPT:
http://hastebin.com/ikeduhuzum.tex

[2016-01-18 01:50] Heavybob commented on #28
Noticed @danielstuart14 Made a commit, rechecking error.

[2016-01-18 01:59] Heavybob opened #29 "clothing_box Errors / Box Bug"
https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/shops/fn_clothingMenu.sqf

clothing_box = false;
Silent Errors.

Client RPT Logs:
http://hastebin.com/hofowatufu.tex

clothing_box = true;
Missing a wall from the box.

[2016-01-18 02:05] Heavybob commented on #28
Rechecking again, I did not update my Veh SQL DB. Give me a moment to test this.

[2016-01-18 02:08] Heavybob commented on #28
Closed, didn't update DB/

[2016-01-18 02:08] #28 closed

[2016-01-18 02:30] tkcjesse commented on #19
@danielstuart14 Haven't tested it yet. I would assume so.

[2016-01-18 02:47] danielstuart14 commented on #29
fixed?

[2016-01-18 02:47] Heavybob commented on #29
testing, sec

[2016-01-18 02:48] sargken commented on #29
No i need to move the testlogic out of the if statement.

[2016-01-18 02:51] danielstuart14 commented on #29
okay. Remember to test out things before pushing, next time...

[2016-01-18 02:53] sargken commented on #29
There are 2 errors in there tomarrow i will post a fix.

[2016-01-18 02:54] Heavybob commented on #29
Checking errors, if they are minor, I will fix

[2016-01-18 03:00] danielstuart14 commented on #29
Guys, look.
I was taking a look on these commits, and they are a mess.
It is calling UpdateInventory every time player opens trunk, and it isn't formated as the whole script is.

Also, clothing changes aren't working.

So, I'll revert they. My advice is: Do a repo, with these changes. (One for clothing changes, and other for vehicle), then, I'll look and test it. (And if needed fix what is broken.

[2016-01-18 03:00] #29 closed

[2016-01-18 03:09] sargken commented on #29
Since this isnt a release so people should be downloading things strait from the repo therr should be a release there downloading from. Vehicle Gear Virt Item save is working well now. Clothing shop has a minor bug on it which can be fixed easly. The reason i push to this is so heavy can test. Is there a way you can allow me to tag a tag WIP to my pull requests so you know there not ready to go.

[2016-01-18 03:14] sargken commented on #29
I wrote that from my phone so sorry for some grammar mistakes.

[2016-01-18 03:20] tkcjesse commented on #2
@danielstuart14 Please review. I don't see how that bug fix to vehicles fixed this clothing exploit?

[2016-01-18 03:20] danielstuart14 commented on #29
Remember that scripts don't just need to work, but it needs to respect the syntax and be optimized for better FPS.
The commit you pull-requested calls for vehicle inventory on DB every time player opens the trunk...
So, it overhead the sv.

As I said before, push it to your repo and comment on issue tab.

As I'm on vacation, in the same day you push it, I'll test and give my opinion...

[2016-01-18 03:22] sargken commented on #29
Im wondering if we even need it im going to look more into it to it.

[2016-01-18 03:24] sargken commented on #2
It wasn't meant to reference this good catch. I put the title as number 2.

[2016-01-18 03:24] tkcjesse commented on #2
Why is this github turning into such a cluster fuck all of a sudden... ? There's a bunch of 1/2 finished code and missing stuff being commited..

[2016-01-18 03:25] danielstuart14 commented on #29
It just needs to call for database when storing or spawning from/to garage.
If you want I can fix it, but not in this repo.

I know how boring it is, but as there's only one branch here, we can't break it.

[2016-01-18 03:28] sargken commented on #29
I think what im going to do is name things im working on - WIP when its initially done then i can pass it onto heavybob. Once its all checked out then ill tagg you in it and let you know. Would you be good with that? Im on phone sry if there are grammar errors.

[2016-01-18 03:30] danielstuart14 commented on #2
already revert to latest commit that I test.
I'm on notebook, I can't test everything right now. (It probably explodes if I try to open arma)

As said on other tab, with @sargken, this is the main repo now. It must stay working.

[2016-01-18 03:37] danielstuart14 commented on #29
I think it's better to just push to your repo. (With branch-naming, like: vehicle_persist)
Then, send it to me.

It's better for large commits... Pull-request mess everything up, and give a chance to push non-working features.

Small changes can still being pull-requested.

As I said before, send me your email (Everybody) and I'll create a hangouts chat with everybody.
It's easier for me to reply.

[2016-01-18 19:22] AveUrsus opened #33 "Way to use stringtable for addactions"
I found a way to store all add actions in stringtable.xml
1) Change
this addAction["Market",life_fnc_virt_menu,"market"];
to this:
this addAction[(localize "STR_ACT_market"),life_fnc_virt_menu,"market"];
2) add pakage "actions" to string table. and keys for all actions.
<Package name="Actions_for_map">
<Original>Market</Original>
<Russian>Рынок</Russian>
</Package>

Working OK, but couse mission.s

[2016-01-18 19:28] danielstuart14 commented on #33
it's good for multilanguage.
But will need some hand work.

[2016-01-18 19:31] AveUrsus commented on #33
OK, ill handle it in a few days

[2016-01-18 21:16] tkcjesse commented on #2
@danielstuart14 This is still an issue. It was wrongly referenced by someone else, it was never solved... Re-open please...

[2016-01-18 22:35] Heavybob commented on #33
As long as Pirate is supported finally. We must not forget our Pirate Origins.

[2016-01-18 22:38] AveUrsus commented on #33
Bob, what? ;)

[2016-01-18 23:27] tkcjesse opened #36 "Clothing Shop Exploit"
**Repost** - Last one was closed... someone referenced it wrong. Hasn't been fixed or even touched yet.

Go to a rebel outpost for example Pull out enough money to purchase 1 vest Click a vest, click the one you want to purchase multiple of Then just spam click on the vest for a bit then click buy You've now filled your backpack with vests for the cost of 1 Here's a video Figured since you've been

[2016-01-18 23:41] Heavybob commented on #36
*Repost*

Confirmed this does happen.

[2016-01-19 01:17] Heavybob opened #38 "Police Grid Reference Emergency TXT - Suggestion"
I have seen this on only one server but feel it should be put into the main build.

When someone txt messages cop, it should display the grid reference of where the origin of the txt came from. Including this minor feature will help those small police forces getting harassed by prank callers.

[2016-01-19 02:28] tkcjesse commented on #38
@danielstuart14 Are you okay with this? I'll do a pull if you want it added.

[2016-01-19 02:30] danielstuart14 commented on #38
yes, but add this as an option on config_master.

[2016-01-19 02:30] danielstuart14 commented on #38
set true as default.

[2016-01-19 02:33] tkcjesse commented on #38
@danielstuart14 since all messaging is handled in life_server\functions.sqf and done with compileFinal is it possible to?

[2016-01-19 03:25] Heavybob commented on #38
I also would like to see this done also with reporting to cops.

If the player is in a gang then it txt messages the whole gang the police messages and if a cop txt messages a single player who is in a gang, it messages the whole gang.

Adding this in would stop any confusion of declaring a raid of Kavala or some other bogus situations which happen when people claim they msged cops or not.

[2016-01-19 03:27] tkcjesse commented on #38
@Heavybob yes, what I have will add it for player to admin/ems/cop messages. I just need help with the life_settings

[2016-01-19 03:28] Heavybob commented on #38
This will also stop corrupt cops and metagaming.

[2016-01-19 03:39] tkcjesse commented on #19
@danielstuart14 Yeah, this is still an issue... Not sure why people are not testing their commits or referencing wrong issues..  :/

[2016-01-19 03:48] danielstuart14 commented on #38
In Life_Settings class on config_master add:
```example = true;```

This is equal to: ```example = 1;```

So, to add a check just: ```if(EQUAL(LIFE_SETTINGS(getNumber,"example"),1)) then {```

[2016-01-19 03:49] tkcjesse commented on #38
@danielstuart14  Yes, correct. But all of the messaging stuff is handled server side in https://github.com/ArmaLife/Altis/blob/master/life_server/functions.sqf

So for some reason it's not cooperating properly.

[2016-01-19 03:51] danielstuart14 commented on #38
okay, pull-request it as it is and I'll add the checks somehow.

[2016-01-19 03:52] tkcjesse commented on #38
Sounds good.

[2016-01-19 04:07] danielstuart14 commented on #24
Should fix: https://github.com/ArmaLife/Altis/commit/bc2ab196ca9f054bd0c1b0ed50f9a159ad95f9bf

Give a feedback pls

[2016-01-19 04:07] #24 closed

[2016-01-19 06:31] Heavybob commented on #19
This isn't regarding persistent inventory as it isn't apart of the master build as code was reverted.
Please dump an rpt log of this issue and re-describe what the problem is.

[2016-01-19 06:32] danielstuart14 commented on #19
It just opens the vehicle inventory, even when it is locked.
My pull-request should fix it.

[2016-01-19 06:33] tkcjesse commented on #19
Yeah... It's
1. Look at locked vehicle
2. Hit "i"

or

1. Look at locked vehicle
2. Hit "T"

[2016-01-19 06:37] danielstuart14 commented on #9
https://gitter.im/ArmaLife/Altis

[2016-01-19 06:37] #9 closed

[2016-01-19 07:16] Heavybob opened #47 "Spyglass Debug Spam"
@danielstuart14, Would you kindly help out my friend.

*Running a custom patchlist for spyglass*
17:44:27 Error in expression <Name = _x select 1; if(!(_targetDisplay == 316000)) then { switch(typeName _targ>
17:44:27 Error position: <== 316000)) then {
switch(typeName _targ>
17:44:27 Error Generic error in expression
17:44:27 File mpmissions__CUR_MP.Altis\SpyGlass\fn_menuCheck.sqf, line 32

*Erro

[2016-01-19 07:18] danielstuart14 commented on #47
thx

[2016-01-19 07:23] Heavybob commented on #47
This dump does include some of my own small things so if you don't recognize something, it might be something that does not exist in the main build.

[2016-01-19 09:16] #19 closed

[2016-01-19 11:55] Heavybob commented on #38
Closing as its merged into main build.

[2016-01-19 11:55] #38 closed

[2016-01-19 11:57] Heavybob commented on #47
If anyone finds any bugs with having spyglass disabled, please report them.

[2016-01-19 12:52] Heavybob commented on #47
Confirmed, Whitelisting is disabled when Spyglass is disabled.

[2016-01-19 16:28] ClavosPL commented on #33
At my last pull request(shops on stations) some addaction strings are linked to stringtable
example line 2078 this addAction[localize ""STR_MAR_Car_shop"",life_fnc_vehicleShopMenu.....
and others, heli shops etc. , how you see it is another way to do this (two " " without ( ) )

Please daniel tell what wersion we putt in mission.sqm in addaction to unificate mission code and who must do this. I se

[2016-01-19 16:36] ClavosPL commented on #33
Al least generally a lot of STR_MAR strings in stringtable.xml, are ready to put in mission.sqm

[2016-01-19 21:14] crackhead opened #57 "params"
20:16:18 Performance warning: SimpleSerialization::Read 'params' is using type of ,'TEXT' which is not optimized by simple serialization, falling back to generic serialization, use generic type or ask for optimizations for these types

[2016-01-19 21:45] danielstuart14 commented on #33
@ClavosPL we can use STR_MAR strings. If you want to do it...

[2016-01-19 22:06] tkcjesse commented on #57
https://forums.bistudio.com/topic/181144-update-144-getting-strange-errors-in-rpt/#post2932399

Per Bohemia...

"it's informative warning ... don't panic ;)"

[2016-01-20 07:29] Heavybob opened #64 "Knockout - Masks"
When a player gets knocked out, for realism it should:

Drop PrimaryWeapon + Mags
Drop SecondaryWeapon + Mags
Drop Map
Drop GPS
Drop Mask

On the ground so they cannot meta-game a robbery.

[2016-01-20 16:28] crackhead opened #65 "Medic Offroader"
http://prntscr.com/9sigqb
This heppens when you get a cop offroad oder med offroad out.

[2016-01-20 16:33] ClavosPL commented on #33
I do this, at sunday i will be ready to pull

[2016-01-20 19:33] crackhead commented on #65
done https://github.com/ArmaLife/Altis/compare/master...crackhead:patch-4

[2016-01-20 21:15] #57 closed

[2016-01-20 21:34] AveUrsus commented on #33
Ok. ill wait for your pull and add russian translation

[2016-01-20 23:26] Heavybob commented on #65
thanks @crackhead

[2016-01-21 00:00] #65 closed

[2016-01-21 02:26] #64 closed

[2016-01-21 07:21] Heavybob opened #72 "Federal Reserve - Break Doors + Plant Bomb without Cops Online"
Its possible to break into fed and do all the doors without any cops online.

Need a check on if cops are online to complete the bolt-cutting action

[2016-01-21 08:46] clackd1amond commented on #72
#73 done

[2016-01-21 09:02] Heavybob commented on #72
Will test in a few hours/.

[2016-01-21 09:02] #72 closed

[2016-01-21 21:54] tkcjesse opened #81 "Removal of Admin Menu Button - GET ID"
So, I've left this annoying waste of a button sit on my menu til just the other day... Then I yanked it. I've never needed it nor understand its purpose in being its own button nonetheless...

https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/admin/fn_admingetID.sqf

Can we remove it?

[2016-01-21 22:24] danielstuart14 commented on #81
I just read a little, and it's for kicking players using ID instead name or UID.
https://community.bistudio.com/wiki/Multiplayer_Server_Commands

[2016-01-21 22:29] tkcjesse commented on #81
mmm. So should it just be kept that way or output to the admin info like the rest of the player info?

[2016-01-22 00:44] danielstuart14 commented on #81
I think setting it to show up in menu is better than a button. But I won't change it, at least by now.

[2016-01-22 02:04] #81 closed

[2016-01-23 00:10] #33 closed

[2016-01-23 00:11] danielstuart14 commented on #33
https://github.com/ArmaLife/Altis/commit/04c8db5143d94e07b12e266ee5cefc3e2c4c1380
https://github.com/ArmaLife/Altis/commit/4c027a3d5f559dd1c2696a8f2f2572c4eaef858a
https://github.com/ArmaLife/Altis/commit/2aa819ac460977341734eb50343fdf5d437010c3

[2016-01-23 05:21] tkcjesse commented on #33
Whats "MAR"? sorry if this should be obvious...

[2016-01-23 06:33] Heavybob commented on #33
Where is Pirate Speak Support?

[2016-01-23 13:57] lukedbx opened #84 "Warning spam"
Wondered if you know whats causing this. Basically local rpt gets spammed with hundreds of
 13:42:48 WARNING: Function 'name' - cop_1 has no unit
13:42:48  - network id 2:3
13:42:48  - person dave
13:42:48  - dead

[2016-01-23 22:58] tkcjesse commented on #84
Can you pastebin your whole rpt out please.

[2016-01-25 05:54] danielstuart14 commented on #33
Abbreviation for marker

[2016-01-25 14:57] Jawshy commented on #36
This exploit also applies to headgear/hats.

[2016-01-26 03:00] tkcjesse opened #91 "Processing Error"
Nevermind.. Was an issue with some RscTitles I have...

[2016-01-26 03:00] tkcjesse commented on #91
Trying to figure out the issue now.

[2016-01-26 03:12] #91 closed

[2016-01-26 14:45] Jawshy opened #96 "Possible to roll under the Federal Reserve's large doors"
It is possible to roll under the large doors of **Land_Dome_Big_F** *Dome (Big)*.

###### Steps to reproduce
1. Go to the Federal Reserve. Make sure that the large doors are locked.
2. Go prone parallel to a large door and try to open it while simultaneously rolling into the door.
3. Sooner or later you should have made it under the door and inside the reserve without having to bolt cut the door.

[2016-01-26 19:26] Heavybob commented on #96
Its possible to volt / jump though any of the wall of the dome. Might be an idea to prevent prone animations / jumping within x distance from fed dome.

[2016-01-26 19:29] Heavybob commented on #96
Other solutions that could be done is to just pack in more objects like sandbags but again the first solution is way better.

[2016-01-26 19:31] danielstuart14 commented on #96
We can still get inside it without jumping. Just get proned and then roll in the ground.

[2016-01-26 19:32] danielstuart14 commented on #96
Sandbags + no jump in the radius seems to work.

[2016-01-26 19:33] danielstuart14 commented on #96
Also, we can only enable to unlock vault if all the doors are unlocked

[2016-01-26 19:33] Heavybob commented on #96
thats a really good idea dan

[2016-01-26 19:34] Heavybob commented on #96
or at least a perimeter door

[2016-01-26 19:41] Heavybob commented on #84
RPT, you running main build or a modded mission.sqm?

[2016-01-26 19:42] #47 closed

[2016-01-26 20:58] Locxion opened #100 "Shift + H doesnt work"
Hey Guys ... its me again ...
so i pulled the files from here and again Shift + H to Holster Weapon doesnt work.
Only modified file is the weapon shop ... thats clean now.
no error messages on client or server.

[2016-01-26 21:01] danielstuart14 commented on #100
@Heavybob

[2016-01-26 21:37] Heavybob commented on #100
Yes?

[2016-01-26 21:40] sargken commented on #100
Test @Heavybob

[2016-01-26 21:40] Heavybob commented on #100
Need RPT errors.

Running latest commit, no issues

[2016-01-26 21:54] Kimax89 opened #103 "Show amount of money on players HUD."
I havent got the time to fully understand how everything works, so i wasnt able to add this myself.

This is a simple suggestion to add another element to the HUD that shows how much money you have in the bank and on you, so you dont allways have to check the usermenu.

I will try to look into this and if i succeed, i will add a pull request.

[2016-01-26 21:59] tkcjesse commented on #103
Not sure if this is necessarily doable since we call hud_update to update the hud that currently exsists... I think it'd have to be changed around a bit?
I personally use a status bar. Which looks like http://www.exilemod.com/uploads/monthly_2015_09/2015-09-18_00010.jpg.b378d70f652fd44225ea6d26fe57d532.jpg

[2016-01-26 21:59] tkcjesse commented on #100
I run this as well. I have no issues?

[2016-01-26 22:06] Locxion commented on #100
Sorry but i have no RPT errors on client or on the server :/ dont know why its not working.

[2016-01-26 22:09] danielstuart14 commented on #100
Maybe you changes something in keys on your game config.

[2016-01-26 22:09] tkcjesse commented on #100
Is it holstering for you?

[2016-01-26 22:09] Kimax89 commented on #103
I will try to take a look at it anyway. In cases where people are using modded HUD, They will have to update that aswell.

But it would be a nice feature for the standart ui.hpp

[2016-01-26 22:10] Locxion commented on #100
@danielstuart14 fresh arma install ... completly on default

[2016-01-26 22:11] tkcjesse commented on #100
@Locxion can you try this in your fn_keyHandler.sqf

http://pastebin.com/raw/Uhp8ZM5V

[2016-01-26 22:11] Locxion commented on #100
paste complete?

[2016-01-26 22:21] sargken commented on #103
I think the status bar way as @tkcjesse suggested would be a better route.

[2016-01-26 22:27] tkcjesse commented on #103
Its super easy to add and remove things like adding wanted amount, players on the server, compass, etc. I like it.

[2016-01-26 22:33] tkcjesse commented on #100
?? Just copy what I have in that pastebin and replace all of that file with that.

[2016-01-26 22:38] Locxion commented on #100
no changes ... its the same file

[2016-01-26 22:38] Kimax89 commented on #103
is it a thing that could be added to the serverside?

[2016-01-26 22:41] tkcjesse commented on #100
Yeah, there's just some proposed changes. Not sure if you were using those as well.

I would suggest seeing if you have custom actions assigned to H or Shift... Because that works fine on my server no issues.

[2016-01-26 22:41] tkcjesse commented on #103
Its not a mod? You just add it to your Altis_Life.Altis

[2016-01-26 22:45] Locxion commented on #100
I will reinstall Arma again to make sure ... thanks anyway

[2016-01-26 22:46] tkcjesse commented on #100
Just reset your controls?  Thats a bit extreme.  Making a new profile resets them.

[2016-01-26 23:01] Locxion commented on #100
wow ... rage reinstall worked ... now i can holster my weapon -.- thanks.
i allready tryed to reset the keybindings and a new profile ...
As a Thank you i completly Translated and fixed the german sections of the stringtables.xml ^^

[2016-01-26 23:01] #100 closed

[2016-01-26 23:20] Locxion opened #105 "Cant repair Car. Error in Interaction Menu"
If i look at a Vehicle and press Windows Key for Menu i get this Error.
 0:07:49 Error in expression <e;} else {_Btn6 ctrlEnable true;};
};
} else {

if(typeOf (_curTarget) in ["B_He>
 0:07:49   Error position: <else {

if(typeOf (_curTarget) in ["B_He>
 0:07:49   Error else: Type Array, expected code
 0:07:49 File mpmissions\__CUR_MP.Altis\core\vehicle\fn_vInteractionMenu.sqf, line 72
 0:08:23 Er

[2016-01-26 23:24] danielstuart14 commented on #105
Puff, people pushing broken commits... Will stop pushing until get home... Thx (latest release should work fine)

[2016-01-26 23:26] tkcjesse commented on #105
@danielstuart14 beat me to it.

Update yours with: http://pastebin.com/kh93ALGP

[2016-01-26 23:27] tkcjesse commented on #105
@danielstuart14  Check again please? The current version has the issue still I believe, still has the kart/helicopter stuff... https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/vehicle/fn_vInteractionMenu.sqf

[2016-01-26 23:40] Locxion commented on #105
great! worked perfekt! thanks!

[2016-01-26 23:51] tkcjesse commented on #105
Did you use the paste or the current github?

[2016-01-26 23:52] Locxion commented on #105
Your paste did the magic! The current file is broken

[2016-01-27 00:00] danielstuart14 commented on #105
Latest release in release tab

[2016-01-27 00:00] danielstuart14 commented on #105
Will take a look in the file (I'm on phone right now)

[2016-01-27 01:06] danielstuart14 commented on #105
@Shems-SA can you fix it? Your kart commit isn't working. I'm travelling and I can't edit it right now.

[2016-01-27 01:10] tkcjesse commented on #105
The error seems to be probably this

 if(count crew _curTarget == 0 && {canMove _curTarget}) then { _Btn6 ctrlEnable false;} else {_Btn6 ctrlEnable true;};

You have ) in the wrong place i do believe. in a few spots.

[2016-01-27 05:18] Kimax89 commented on #103
Why not add it, as a standard?

[2016-01-27 08:11] tkcjesse commented on #103
the statusBar?  @Kimax89

[2016-01-27 10:43] Kimax89 commented on #103
yes. It has more functionality and looks better.

[2016-01-27 13:22] danielstuart14 commented on #105
@tkcjesse if you can fix it I'll be glad

[2016-01-27 13:38] Locxion commented on #105
@Danielstuart14 the paste from @tkcjesse worked great!

[2016-01-27 14:50] tkcjesse commented on #105
Yeah, that's "old" if you will though. Doesn't have the gokart/heli commit submitted the other day.

[2016-01-27 18:15] Shems-SA commented on #105
@danielstuart14 https://github.com/Shems-SA/Altis/commit/73222ce0155897ff3fcbe1ff3fd4c893c0c09e85 sorry for this problem :(

[2016-01-27 20:58] Heavybob commented on #103
Doing this would mean that money checks would have to update hud each time a transaction is done. its possible to do but do we really want to make checks for money changes everywhere + remove the point of a player menu + annoy the kids more who don't have 1080p monitors?

Just some thoughts.

[2016-01-27 21:31] tkcjesse commented on #103
Doing the status bar doesn't require file calls everywhere like the current hud does. Not sure what dan wants to do.

[2016-01-27 21:49] Heavybob commented on #105
https://github.com/ArmaLife/Altis/pull/108

For the time been @Locxion, use this until its either reverted or fixed.

http://hastebin.com/fowitobupa.coffee

[2016-01-27 21:52] Heavybob commented on #84
*Close if no rpt logs*

[2016-01-27 22:41] #84 closed

[2016-01-27 22:42] danielstuart14 commented on #84
Not related to life mod

[2016-01-27 23:53] Locxion commented on #105
@Heavybob like i said the pastebin (http://pastebin.com/kh93ALGP) from @tkcjesse worked fine for me.
Or should i use your files?

[2016-01-27 23:58] tkcjesse commented on #105
@Locxion Use his if you want the Go-Kart enter / helicopter Enter on there. If not, using mine is fine. That's all mine didn't have.

[2016-01-28 02:28] tkcjesse commented on #84
Um, I'm actually getting the same error:
20:23:36 WARNING: Function 'name' - cop_1 has no unit
20:23:36  - network id 4:40
20:23:36  - person [BW]fuzionz.
20:23:36  - dead

-- This is client side RPT.

[2016-01-28 02:44] tkcjesse commented on #84
Think it has something to do with playertags... when users die...? Will report back with more info shortly..

[2016-01-28 02:50] tkcjesse commented on #84
Regarding: https://dev.withsix.com/issues/13861

[2016-01-28 03:33] lukedbx commented on #84
Oh sorry I totally forgot I posted this as it seems to have stopped now and I didn't change anything. However when I was reading up on it I found this on the bistudio site, not sure if you saw it.

WARNING: Function 'name' - So-and-so is dead
Do not call name on a dead object. if (alive _obj) then {name _obj};

https://community.bistudio.com/wiki/arma.RPT

[2016-01-28 03:43] tkcjesse commented on #84
Yeah. I'm currently looking into it kind of.. Seems to be a player tag issue when people die.

[2016-01-28 03:43] lukedbx commented on #84
Also RPT if you still need it - http://pastebin.com/f3HA2y6N

[2016-01-28 03:44] tkcjesse commented on #84
Yeah. Same as mine. Thanks though!

[2016-01-28 04:40] tkcjesse opened #110 "Medic Put/Throw?"
22:38:29 Duplicate weapon Throw detected for B_medic_F
22:38:29 Duplicate weapon Put detected for B_medic_F

Um... happened either when reviving or well... Not sure? Ideas?

[2016-01-28 05:15] tkcjesse commented on #84
Check @lukedbx

https://github.com/tkcjesse/Altis/commit/7ff46c2f3a5bf4fefdd904fb7deab6be32502983

[2016-01-28 06:26] tkcjesse commented on #110
Possibly due to having the mediKit used with the disable medic weapon ability?

[2016-01-28 07:56] lukedbx commented on #84
Thanks, will try this out and let you know.

[2016-01-28 07:57] tkcjesse commented on #84
Yep. No problem.  Let me know.

[2016-01-28 09:34] Locxion commented on #110
Isn't there a "one-use" function? If you turn it on it will delete 1 item of your Inventar? And off it will stay there? Not Sure FirstAid Or Medikit

[2016-01-28 16:35] Locxion opened #115 "Vehicle Animation Error on spawning Cars"
I'm getting this errors in Client log if i Spawn a Car. (Kavala Vehicle NPC)

Server log is clean.

extDB log:
17:31:14 "------------- Client Query Request -------------"
17:31:14 "QUERY: SELECT id, side, classname, type, pid, alive, active, plate, color FROM vehicles WHERE id='2' AND pid='76561198013153477'"
17:31:14 "Time to complete: 0.0187988 (in seconds)"
17:31:14 "Result: [2,"cop","C_Offroad

[2016-01-28 16:36] Locxion commented on #115
The vehicle spawns without a problem ... forget to say this

[2016-01-28 17:15] DarkSilencerZA commented on #103
I'd say status bar. Gives you flexibility with adding extras onto it and it's super easy to do.

[2016-01-28 18:05] lukedbx commented on #84
Still have the same problem unfortunately, and now im also getting

[2016-01-28 18:08] tkcjesse commented on #84
Can you verify that you have this change too please. https://github.com/ArmaLife/Altis/commit/193343ffe2aae148719ea8b4ddd6ffde6fbb3573#diff-d409e875a3bfc749662fb82a0adf9988

[2016-01-28 18:09] lukedbx commented on #84
Yea, have that.

[2016-01-28 18:24] tkcjesse commented on #84
Do you have names above npcs lke the player nametags do? And on the gang pallets?

[2016-01-28 18:45] lukedbx commented on #84
Yea

[2016-01-28 18:59] tkcjesse commented on #84
So other than those 3 fixes I just put above. I removed that from my NPCs and all that spam was completely removed. Because I also got spam from the pallets. You could try it... But that's up to you. Those fixes fixed my stuff...

[2016-01-28 19:04] lukedbx commented on #84
Yea I will do, thanks for your help.

[2016-01-28 19:15] Locxion opened #116 "Error in Admin Menu if TP Player to Me"
If i click on a Player and then the TP to Me Button I get this Error in Client log:

19:18:30 Wrong text element 'null'
19:18:30 Error in expression <prim,_sec,_attach,(_ret select 4),(_ret select 5),(_ret select 6)];>
19:18:30   Error position: <select 5),(_ret select 6)];>
19:18:30   Error Zero divisor
19:18:30 File mpmissions\__CUR_MP.Altis\core\admin\fn_admininfo.sqf, line 31

[2016-01-28 19:21] tkcjesse commented on #84
Of course.

[2016-01-28 19:45] tkcjesse commented on #116
Can you screencap the admin info for that user from the menu

[2016-01-28 20:35] tkcjesse commented on #110
Ah yes, could be... checking it out now. May have over reacted...

[2016-01-28 21:31] tkcjesse commented on #116
I have reason to believe this is due to how Tonic had his admin menu and the way it kinda forced me to do changes...

I think.. This is actually related to https://github.com/ArmaLife/Altis/issues/84 I believe.

[2016-01-28 22:07] Locxion commented on #116
@tkcjesse
Admin Menu: http://puu.sh/mNlod/e363a28571.jpg
Player Inventar: http://puu.sh/mNlCF/63302edd50.png
No Weapon No Attachments

[2016-01-28 23:34] danielstuart14 commented on #105
https://github.com/ArmaLife/Altis/commit/032bbf0c5987237c16d3ee519575c3c8eefa8e8d

[2016-01-28 23:34] #105 closed

[2016-01-28 23:34] danielstuart14 commented on #103
Not doing to happen, at least for now.

[2016-01-28 23:34] #103 closed

[2016-01-28 23:39] danielstuart14 commented on #115
https://github.com/ArmaLife/Altis/commit/8c478bdfd3400a551b8d1976c54d397b9de2a9cf

[2016-01-28 23:39] #115 closed

[2016-01-28 23:56] danielstuart14 commented on #110
that fixes the same spam in RPT for AGM: https://github.com/KoffeinFlummi/AGM/commit/c49c07ac3e30adb320511c7b6a0978015a938ebb

Going to take a deeper look later... But it's related (In AGM) to weapons not being removed on respawn, and then, being overrided.

[2016-01-29 00:02] tkcjesse commented on #110
Yeah. It's part of a custom loadout file I'm using...

[2016-01-29 00:18] danielstuart14 commented on #116
@tkcjesse I think it started to happen after your commit...
I'm going to test it and see what I can do

[2016-01-29 00:53] danielstuart14 commented on #116
it's related to players that don't have steamID. (Arma III retail)
Going to fix...

[2016-01-29 01:02] tkcjesse commented on #116
Oh. That's silly.

[2016-01-29 02:10] danielstuart14 commented on #116
https://github.com/ArmaLife/Altis/commit/354a440766bc6c63ea08cd12b002ca3d15ef58ca should fix... Pls @Locxion , test it with your friend. (And ask him if he has a non steam game)

[2016-01-29 05:32] #110 closed

[2016-01-29 08:05] Locxion commented on #116
Okay WE will try it if I get home. But I know he got it from steam like me. And if I click on my name I get the same error

[2016-01-29 14:12] danielstuart14 commented on #116
Then, IDK, because here it works just fine.

[2016-01-29 14:25] sargken commented on #116
He may have an error on his local branch?

[2016-01-29 17:34] Locxion commented on #116
@danielstuart14 http://puu.sh/mOie2/c38eb4f600.jpg ... its fixed! Thanks a lott!

[2016-01-29 18:26] #116 closed

[2016-01-29 18:45] Locxion opened #119 "Fishing loot Bug"
If you use the fishing net addaction u get grilled fish instead of raw

http://puu.sh/mOmLB/9fd19ee96f.jpg

no errors on both sides

[2016-01-29 19:57] tkcjesse commented on #119
@Locxion : Here ya go https://github.com/tkcjesse/Altis/commit/3c54aad7ae6b1cc7043ec8388bad95d4316adae8

[2016-01-29 19:58] crackhead opened #121 "Leave a Gang !"
You can not leve a gang the on client is buggy :*

[2016-01-29 20:13] #121 closed

[2016-01-29 20:51] silvercn commented on #119
@tkcjesse what about Altis/Altis_Life.Altis/core/actions/fn_dropFishingNet.sqf? Looks like it needs to be also fixed if im not wrong

[2016-01-29 20:59] tkcjesse commented on #119
@silvercn  Yeah I fixed that too, it was in there the whole time ;)

[2016-01-29 21:53] #119 closed

[2016-01-30 11:00] Jawshy commented on #121
@crackhead, why was the issue closed? Was it fixed? Was it not an issue after all?

[2016-01-30 13:06] NiiRoZz commented on #36
I think i have found the problems :
1 : Go to fn_handleItem.sqf
2 : Go to line 174
3 : Replace "player addItem _item;" by "//player addItem _item;"
4 : Test

Speak me if doesn't work

[2016-01-30 16:40] danielstuart14 commented on #36
https://github.com/ArmaLife/Altis/commit/85dcfde5628222411cd4c4b58a717a460d2e69d8

[2016-01-30 16:40] #36 closed

[2016-01-30 18:53] danielstuart14 commented on #96
https://github.com/ArmaLife/Altis/commit/124ee4487ac8f34b48e97a16f102e7fb7fb03eee

[2016-01-30 18:53] #96 closed

[2016-01-30 20:27] tkcjesse commented on #36
Nice job.

[2016-01-30 20:27] danielstuart14 commented on #36
thx to @NiiRoZz

[2016-01-31 07:40] Jawshy opened #130 "Error in expression - fn_requestReceived.sqf"
The following appears in the client / local .rpt file at the spawn selection screen but before spawning into the game as a civilian. It does not occur when spawning as a cop/police or medic/ems.

[code]

Spawning as police or medic for comparison.

[code]

Link to the file in question: [fn_requestReceived.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/session/fn_requestRe

[2016-01-31 08:13] Jawshy opened #131 "Error in expression - fn_keyGive.sqf"
The following appears in the client / local .rpt file when a player of any faction attempts to give keys when no keys and no player are selected.

[code]

Have not yet tested what happens if a key and/or another player are selected before giving key.

Link to the file in question: [fn_keyGive.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/pmenu/fn_keyGive.sqf#L35)

Full c

[2016-01-31 08:22] baua1310 opened #132 "Headless Client"
Is it possible to build in the headless client by default?

[2016-01-31 09:36] tkcjesse opened #133 "Cannot Gut Animals"
Using the actionKeyHandler at the hunting grounds doesn't gut the animals.

[2016-01-31 10:17] Jawshy commented on #133
The guy testing with me managed to gut a sheep and goat. He said that he had to spam the Interaction Key (Left Windows Key) until his character started gutting the animal. One the second attempt I asked him to cancel the action and try again at which point he managed to gut on first key press.

Same thing happens when trying to catch a turtle. Once you have killed the turtle it is a nuisance to tr

[2016-01-31 10:27] tkcjesse commented on #133
Mmm. Okay. May do nearest objects then or something.

[2016-01-31 10:28] tkcjesse commented on #133
If you have time.  Could you possibly test if you're able to access your home crate Arma inventory?

[2016-01-31 10:47] NiiRoZz commented on #133
I will fix it just let me time of 2 hours for test ect ..

[2016-01-31 10:48] NiiRoZz commented on #130
Give me more information in server .rpt file you have any error ? And you are in a gang or you are not in a gang ?

[2016-01-31 11:00] Jawshy commented on #130
@NiiRoZz, here is a link to the respective [server.rpt](http://puu.sh/mQqmY/8abb9ed125.rpt) file and I was not in a gang.

[2016-01-31 11:13] Jawshy commented on #133
@tkcjesse, I can access my house's inventory, both physical and virtual. However, I sync'ed data, logged out of the server, reconnected, and I've lost the keys to my house.

[2016-01-31 11:36] Kimax89 commented on #5
I might try to look into this. Seems simple enough for me to do. But i cant promise anything.

[2016-01-31 12:15] Jawshy opened #134 "Unsupported language English in stringtable"
The following message still appears in both the client / local.rpt and [server.rpt](http://puu.sh/mQqmY/8abb9ed125.rpt) despite \<English> being removed from the [stringtable.xml](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/stringtable.xml) as of commit a0dfdce71b6ba25e6453840d5eee3b3b447a034c.

`20:44:46 Unsupported language English in stringtable`

I checked, double checked, a

[2016-01-31 12:38] danielstuart14 commented on #134
Arma 3 being Arma 3...
Probably they set an English string in the game stringtable.

[2016-01-31 12:38] #134 closed

[2016-01-31 12:40] danielstuart14 commented on #130
Are you using this commit? https://github.com/ArmaLife/Altis/commit/044ce0299cb38cc57b6753c5d6fd4a8aecb1500a

Servers from before this commits needs a fresh database. (Or manual set of stats array)

[2016-01-31 12:43] danielstuart14 commented on #132
Without any modification it'll just take care about AI. But in Altis Life we don't use AI.
So, for any more advanced offload, you'll need to edit the scripts.

[2016-01-31 12:43] #132 closed

[2016-01-31 12:45] Jawshy commented on #130
@danielstuart14, no I am not. I will upgrade, refresh, and try again.

[2016-01-31 13:26] NiiRoZz commented on #130
It's that because i have any error with the fresh database

[2016-01-31 13:28] NiiRoZz commented on #131
FIxed in pull request;

[2016-01-31 13:34] #131 closed

[2016-01-31 13:39] NiiRoZz commented on #133
Fixed, if you test you need to cursor anything and not the animal because if i script for look animal create more De-Sync

[2016-01-31 14:30] Jawshy commented on #130
No longer receiving this error after updating:

- life_server
- @extDB2
- arma3life-4.0.sql

and starting with a completely new database.

Closing...

[2016-01-31 14:30] #130 closed

[2016-01-31 14:46] #133 closed

[2016-01-31 15:07] Jawshy opened #137 "Storage crates disappearing from houses"
One storage crate will disappear from a player's house each time they disconnect and reconnect. None of the crates disappear from the database. How the creates disappear appears to go like this: 1, 2, 3, 4 → 1, 2, 3 → 1, 2 → etc.

Link to [.zip file](http://puu.sh/mQBAS/679949ccb5.zip) containing:

- client/local.rpt
- server.rpt
- extDB log
- Database export of players and houses as an .xml

Game

[2016-01-31 15:29] NiiRoZz commented on #137
All time disconnect reconnect ?

[2016-01-31 15:39] Jawshy commented on #137
@NiiRoZz, I reconnected several times and one storage crate would disappear everything. Also, the house I had was [**Land_i_House_Big_01_V2_F**](https://community.bistudio.com/wiki/Arma_3_CfgVehicles_EMPTY#Land_i_House_Big_01_V2_F) _House (Large, Yellow)_

[2016-01-31 18:08] danielstuart14 commented on #137
my idea to fix this, is redoing the whole house script.
Setting for each house an invisible supply box (Ex: Supply500)
It would be in the center of the house, and user would just need to scroll the mouse in it.

The good thing here, is that we doesn't need to handler with multiple crates anymore. Just one invisible box for each house.
Ex: Supply200, Supply300, Supply400, Supply450, Supply500

[2016-01-31 18:20] NiiRoZz commented on #137
Jawshy you can test, you put 1 box you relog you see if box are here, if are here you put another and you relog, and just speak when box disappear. Thanks

[2016-01-31 18:37] baua1310 commented on #137
@danielstuart14 that's a very good idea

[2016-02-01 03:35] tkcjesse opened #138 "Storage Crates Inaccessible for Owner"
So basically. If you are the owner of the house, you can only put magazines, suppressors, and nades in the crate. No clothes or anything. If you're not the owner you can put clothing and everything inside of it. You as the owner can also not remove anything once it's in their but others can..

I have a video I'll add shortly(Contains Profanity...).
https://www.youtube.com/watch?v=wduZJxNMlBc

[2016-02-01 03:57] danielstuart14 commented on #138
I'm going to redo all the housing storage stuff.
Here, you can take a look in the idea: https://github.com/ArmaLife/Altis/issues/137

[2016-02-01 04:02] tkcjesse commented on #138
Yeah, was looking to keep this method however. And just fix for the time being at least too.

[2016-02-01 04:24] Jawshy commented on #137
@NiiRoZz, here is what I did.

Purchased House (Large, Yellow) → Placed small storage crate → Sync'ed and reconnected → Crate still there → Placed large storage crate → Sync'ed and reconnected → Crate still there → Placed another small storage crate →  Sync'ed and reconnected → Crate no longer there → Sync'ed and reconnected → 2nd small storage crate reappeared.

[2016-02-01 06:42] Kimax89 commented on #138
Weird. I wasnt able to recreate the problem.

Where you using large or small containers?

Because i have only tested it with the large container.

[2016-02-01 06:46] Kimax89 commented on #137
i had a similar problem, but i found out that 2 of the crates where stuck together. It was a bit tricky to access them both, but doable.

[2016-02-01 08:16] NiiRoZz commented on #138
I Will do New housse système With place yourself your container, and in database the container are séparate of house.

[2016-02-01 11:42] tkcjesse commented on #138
It happens with both.. I'm going to try and bother with it today some.

[2016-02-01 12:42] Jawshy commented on #84
Could this issue be reopened as these errors and new ones appear to still be present in the local/client.rpt log:

[code]
[code]
[code]

What I did was kill my test subject and then revive him. We then switched sides and did the same thing. Also a player that is revived losses their player tags (above their head).

Link to [.zip](http://puu.sh/mRLfK/28a0820033.zip) containing both the full client/

[2016-02-01 12:55] tkcjesse commented on #84
Yeah, its related to the way player tags work. Ive disabled mine and am going to use a different method.

[2016-02-01 12:55] NiiRoZz commented on #138
I Will work on it need 2 days to do it, You will place where you want the container, but need in your house, save the position and content, and the storage will be locked by a code lock

[2016-02-01 12:56] tkcjesse commented on #84
Pretty sure that the scalar is unrelated however.

[2016-02-01 13:05] Jawshy opened #140 "Error in expression - fn_revivePlayer.sqf"
The following appears in the client/local .rpt file sometime during or immediately after a civilian is revived by a cop/police. It does not seem to occur when a civilian is revived by a medic/ems.

[code]

Link to the file in question: [fn_revivePlayer.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/medical/fn_revivePlayer.sqf#L72)

Also, the reviver will get a message say

[2016-02-01 13:38] Jawshy opened #142 "WARNING: Function 'name'"
The following messages are spammed in the local/client.rpt when reviving a civilian as a cop/police.

[code]
[code]

What I did was kill my test subject and then revive him as a cop. We then switched sides and did the same thing. Also a player that is revived losses their player tags (above their head). These message do not seem to appear if a civilian is revived by a medic/ems.

Link to [.zip](ht

[2016-02-01 13:45] tkcjesse commented on #142
Further information: https://community.bistudio.com/wiki/name

See the notes at the bottom of that page. Need to modify how nametags work for dead bodies basically.

[2016-02-01 14:04] tkcjesse commented on #138
@Kimax89 Just downloaded the latest and greatest with no modifications, new database everything. Same issue persists with both crates.

[2016-02-01 14:13] tkcjesse commented on #138
This is confirmed to be an issue in handleItem.sqf

Also, I don't have this interesting crate disappear bug in my older version from 4.1/4.2. Think this is new.. I shall compare.

[2016-02-01 14:24] Jawshy opened #144 "Backpack required to buy rangermaster belt from gun store"
Players are required to be wearing a backpack in order to be able to buy a rangemaster belt from a gun store else they receive a message about not having enough space for the item.

This does not affect buying vests from the rebel clothing shop (and presumably police clothing shop as well).

Perhaps create a clothing shop for the gun store and move the belt into it? If so, could also do the same f

[2016-02-01 15:23] Jawshy opened #146 "Possible to rotate on the spot whilst restrained or surrendered"
It is a minor issue, but something to address none-the-less.

It is possible for a player that is restrained or surrendered to rotate on the spot via SHIFT + Q or E.

Game version: 1.54.133741
Mission version: v4.3r4 - latest commit: c98c6409d2d86a0e58be3d381feb388a7b35b87f

[2016-02-01 15:32] Jawshy opened #147 "Squished shop/store menu"
There is insufficient space in the market menu and in other stores/shops to be able to fully display the names of items with long names. I suggest widening the menu so the names can be visible.

###### Exhibit A
![Exhibit A](http://puu.sh/mRT5n/94043f1408.png)

Game version: 1.54.133741
Mission version: v4.3r4 - latest commit: c98c6409d2d86a0e58be3d381feb388a7b35b87f

[2016-02-01 17:26] #140 closed

[2016-02-01 17:31] danielstuart14 commented on #146
idk if there's a easy way to do this.
I'll do some research

[2016-02-01 17:42] danielstuart14 commented on #138
https://github.com/ArmaLife/Altis/commit/ffbfdc0d0b787d2e1653715819e06f198e2f04b0 fixes?

[2016-02-01 18:03] tkcjesse commented on #138
I'll check it out.

[2016-02-01 18:04] tkcjesse commented on #146
I have a solution for ya I believe.
I'll pull request if I do.

[2016-02-01 18:27] tkcjesse commented on #138
Did not fix...

I'll pastebin what works. It was Yuka's old one... Theres like only 6 lines different though.

left out the macro on it..
https://gist.githubusercontent.com/tkcjesse/3fa163f3888170512adb/raw/0cc8cab5b158708aa5eb1e164da1c0b3a4ade162/gistfile1.txt

[2016-02-01 18:30] NiiRoZz commented on #138
I think it's no a problem because i will do a new system and don't use handle item.

[2016-02-01 21:15] danielstuart14 opened #149 "New fuel script"
This is only for my brain memory, that is a crap.

- Things not working in the new fuel script / optimizations needed:
- Set the action if player is near to any pump. Not only the ones set in fn_Setup_Sation_Service
- Fix message after fuelling: "Vehicle is not near, bla bla bla"
- Don't open the menu if there isn't any vehicle near
- Only open the menu if the vehicle near is in life_vehicles or i

[2016-02-01 21:18] NiiRoZz commented on #149
Ok i Will do all, but all pump are setuped because i use script juste copy
all the pump into array.

[2016-02-01 21:26] silvercn commented on #149
Yeah also get an error when its refuled and try to fuel again.
[http://images.akamai.steamusercontent.com/ugc/364032107054880963/B842085B4F43693DBB6DE24E9146C2CD5A9B2B6A/](url)

[2016-02-01 23:09] sargken commented on #149
Use the same detection as the ATM does. If you go up to an atm that doesn't have an addaction it will allow you to use interact with it and use the ATM.

[2016-02-02 04:38] danielstuart14 commented on #138
I just checked it, and it's working...
Maybe you changed something in your files.

[2016-02-02 04:38] #138 closed

[2016-02-02 06:00] NiiRoZz commented on #149
@sargken It's impossible because i do setfuelascargo 0. If i dont setuped this in pump. Player can use arma 3 pump.

[2016-02-02 14:08] Jawshy commented on #142
[code]

The above is incessantly spammed in the local/client.rpt after viewing the [Gang Armament crate](https://github.com/ArmaLife/Altis/issues/84#issuecomment-176322073) in a Gang Hideout up until disconnecting from the server.

[2016-02-02 14:32] Jawshy opened #150 "Error in expression - TON_fnc_clientMessage"
The following appears in the client/local.rpt file when sending an admin message without selecting a player.

[code]

Full .rpt files available on request.

Game version: 1.54.133741
Mission version: v4.3r4 - latest commit: f5e0e6895913ad4276607de228ba8af7ae42df97

[2016-02-02 15:11] Jawshy commented on #137
Just tested housing storage again and none of the crates disappeared. Same type of house but used large storage crate, then small, and small again.

Also, moving items between inventory and storage was fine. Ref: #138

Mission version: v4.3r4 - latest commit: f5e0e6895913ad4276607de228ba8af7ae42df97

[2016-02-02 16:09] danielstuart14 commented on #150
https://github.com/ArmaLife/Altis/commit/eba2a3d58276a4fbdda0d7ca75008d759aa687a9

[2016-02-02 16:09] #150 closed

[2016-02-02 16:56] NiiRoZz commented on #149
9fe8da05e3f7513d8b0accc3b7b4f9f45c6758de Fixed in this commits

[2016-02-02 17:03] NiiRoZz commented on #142
I think it's in all getvariable real name, look this exemple : _cop GVAR ["realname",name _cop]; Use name Cop i think is that your spam.

[2016-02-02 17:51] danielstuart14 commented on #149
at least here it is auto-refuelling the vehicle
Maybe, we should let it as it was (arma auto-refuel), and let servers owners to implement if they want.

[2016-02-02 17:55] danielstuart14 commented on #149
will test now.
Let it open, there's some things that I'll do in the script and I need to remember.

[2016-02-02 18:38] tkcjesse commented on #142
Yeah.

[2016-02-02 21:50] danielstuart14 commented on #142
@TAWTonic can you help us?

[2016-02-03 01:27] tkcjesse commented on #146
@danielstuart14 the pull I did doesn't stop the Q + E movement. However it does stop things like vaulting, saluting, other stuff while in restraints that people commonly do to be funny or try inching away.

[2016-02-03 01:38] tkcjesse commented on #137
Yeah. The house storage thing was reported here...

https://github.com/ArmaLife/Altis/issues/138

Apparently it was "my files"... lol..

[2016-02-03 03:56] danielstuart14 commented on #146
https://github.com/ArmaLife/Altis/commit/69ff1efb87c100167843edea9a7ae189077ada51
https://github.com/ArmaLife/Altis/commit/672f27a9ecbe6af7623ed083d27d2b4f2af2a721
https://github.com/ArmaLife/Altis/commit/ea3a7d1e9be48b28c0ec92b6fdaf535c92fe338f

[2016-02-03 03:56] #146 closed

[2016-02-03 03:59] #149 closed

[2016-02-03 15:46] danielstuart14 commented on #142
Can you try these two commits?
https://github.com/ArmaLife/Altis/commit/e83cdd3f72327d742377bc63a21534d647ab9360
https://github.com/ArmaLife/Altis/commit/ec15a8c74746bbcd8fcef4e8fd4e0243ed6b0829

[2016-02-04 00:08] tkcjesse opened #153 "New Housing System Issues"
Current Issues (Updated - 2/7/16 9:17PM CST):

1. Testing the search, only thing left. Otherwise seems okay.

[2016-02-04 00:20] danielstuart14 commented on #153
@NiiRoZz about placing the crate outside the house, we can do a script to add a square marker (invisible) with the size of the house. If player is in it, he can place the crate

[2016-02-04 00:48] tkcjesse commented on #142
Testing meow. Will just update this post. Not gonna make a new one.

[2016-02-04 00:56] tkcjesse commented on #142
@danielstuart14  2 Issues..

First issue: I still get
18:54:19 WARNING: Function 'name' - [BW]Cole. is dead

One of the keyhandler commits for the surrender causes Y menu to not open. Commenting out this, causes it to work fine..:

if((_code in (actionKeys "GetOver") || _code in (actionKeys "salute") || _code in (actionKeys "SitDown") || _code in (actionKeys "Throw") || _code in (actionKeys "GetIn

[2016-02-04 01:30] danielstuart14 commented on #142
About the warning, I have no idea then, as the script only runs if player is alive now.

About Y menu:
https://github.com/ArmaLife/Altis/commit/3f05d6c0acc3221d6816cda7f83a6c880c1f5f3d

[2016-02-04 01:54] tkcjesse commented on #142
@danielstuart14   using        alive _x && {!isNil {_x GVAR "realname"}}   fixes it

[2016-02-04 01:59] danielstuart14 commented on #142
really? Can you test something for me then? (related to revive script)
I'm going to pull-request it

[2016-02-04 02:00] tkcjesse commented on #142
Yeah. Sure

[2016-02-04 02:04] danielstuart14 commented on #142
@tkcjesse when you said that _x && {!isNil {_x GVAR "realname"}}  fixes it, are you talking about playerTags? Because it already checks for realname

[2016-02-04 03:10] danielstuart14 commented on #142
https://github.com/ArmaLife/Altis/commit/ec0b60afea24a885d3252d49ec7598aae7bb5182
https://github.com/ArmaLife/Altis/commit/ec0b60afea24a885d3252d49ec7598aae7bb5182

[2016-02-04 03:10] #142 closed

[2016-02-04 03:10] #137 closed

[2016-02-04 03:14] Jawshy commented on #144
Sometime today I will add in a separate clothing store for the gun shop, gang hideout, and medic store if someone else has not already started.

[2016-02-04 15:10] NiiRoZz commented on #153
Yes i will fix all this bug.

[2016-02-04 15:14] NiiRoZz commented on #153
For the 4 : i have tested and it's works for me
For the 5 : yes i know the little house ( non stone ), i don't place his classname in script i will.
For the 7 : 3 hours i will fix it
For the 3 : i will test this but i'm solo so i need time.
For the 1 : test with new commit but i will re code all this check i have idea.
For the 2 : i will check this so.

[2016-02-04 18:59] NiiRoZz commented on #153
I have deleted the line when i fixed it.

[2016-02-04 19:46] danielstuart14 commented on #144
https://github.com/ArmaLife/Altis/commit/1e19129ad80b2c01b6ba47bbe9b7bfbccad9ce57

[2016-02-04 19:46] #144 closed

[2016-02-04 21:03] tkcjesse commented on #153
Alright @NiiRoZz, I'll update and check it out. Once again. Nice work.

[2016-02-04 22:44] tkcjesse commented on #153
@NiiRoZz - Updated with recent found bugs.

[2016-02-05 06:03] NiiRoZz commented on #153
@tkcjesse 66f9302015c9f07c5ad7e9e3e8eaf1eedfc25f10 You can test with this commits and update all your bug, i think will fix all new issues

[2016-02-05 06:06] NiiRoZz commented on #153
@tkcjesse And for the 6 : Now i don't want because you need to the owner of the house.

[2016-02-05 06:24] tkcjesse commented on #153
Alright, as I've said nice job. Issues were to be expected. I can't test out anything for like 12hrs though. I'll give feedback later when I add it!

[2016-02-05 15:36] Jawshy opened #158 "Police/cops can taze players inside of vehicles"
Police/cops can taze players that are inside of a vehicle, whether it is car, ship, or air. Car and ship require the tazer to hit the player whereas hitting anywhere on an air vehicle will taze the player.

Relevant file(s): Altis/Altis_Life.Altis/core/functions/[fn_handleDamage.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/functions/fn_handleDamage.sqf)

Game version: 1

[2016-02-05 15:41] Jawshy commented on #153
A police search of a house with illegal items (drugs) finds nothing. (Using files as of 66f9302015c9f07c5ad7e9e3e8eaf1eedfc25f10)

[2016-02-05 15:46] Jawshy opened #159 "Possible to enter/exit vehicles when restrained or surrendered"
It is possible for a player that is restrained or surrendered to be able to enter or exit an unlocked vehicle, and they can also use the interaction key to push boats or perform other actions when they should not be able to.

Relevant file(s): Altis/Altis_Life.Altis/core/functions/[fn_keyHandler.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/functions/fn_keyHandler.sqf)

[2016-02-05 19:18] tkcjesse commented on #159
If they enter the vehicle though, doesn't it kick them out? Lines 56-59 on fn_restrain.sqf handle that...

[2016-02-05 19:38] tkcjesse commented on #153
@Jawshy Even before searching crates had that issue. I'd suggest making a separate issue?

[2016-02-05 19:58] NiiRoZz commented on #153
@tkcjesse test this commits pls for the 3 : ac81890aec66a23f3ea3dc7437382ef69b1de0e5

[2016-02-05 20:02] tkcjesse commented on #153
@NiiRoZz  on it. I also added one more "issue"... not really an issue but would be nice to fix/change. Since crates are gone anyways.

[2016-02-05 20:13] NiiRoZz commented on #153
For the 1 : enablesimulationglobal false so the crate passes through all

[2016-02-05 20:21] NiiRoZz commented on #153
@tkcjesse For the 2 : It's impossible to fix, i use bounding box so it's in p3d model of house, so i can't fix it ... If player would place container just nearly house he can but crate can explode ...

[2016-02-05 20:25] NiiRoZz commented on #153
@tkcjesse For the 5 : I do not understand. You would when you are in cop or medic you can acces in all house?

[2016-02-05 20:25] tkcjesse commented on #153
Yeah, so if you own houses. And say you login as medic or cop, your crates aren't there but your house is still locked.

[2016-02-05 20:27] NiiRoZz commented on #153
Ho ok if your house, you can acces, i will check this.

[2016-02-05 20:29] tkcjesse commented on #153
@NiiRoZz ..  Sorry I think this only happens when you play civ first. Which locks them, but the doors don't become unlocked when you logout. That is probably a better way of saying it.

[2016-02-05 20:30] NiiRoZz commented on #153
FOr the 3 : I have idea now police need check every container ( one per one ) and not the house

[2016-02-05 20:31] tkcjesse commented on #153
@NiiRoZz  Also, when deleting storage, it doesn't update the value in the DB to allow the stored procedure to delete it. So if you delete them, when server restarts you still have your crates. Should be an easy fix.

[2016-02-05 21:06] NiiRoZz commented on #153
@tkcjesse 7e14fef4b60e27cbf714127c5087af76edd809c3 test with this commit pls.

[2016-02-05 22:04] tkcjesse commented on #153
@NiiRoZz using that commit it will delete multiple containers now if they're nearby. It was deleting them  before, just not updating the database to show them as deleted.

[2016-02-05 22:09] tkcjesse commented on #153
Getting a bunch of :
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: scalar
15:59:29 Bad conversion: sc

[2016-02-05 23:47] danielstuart14 commented on #158
https://github.com/ArmaLife/Altis/commit/615e6068b7fda23e4d6949db240f11dc9cff4fb0
Should fix it & fix tazer in medics

[2016-02-05 23:47] #158 closed

[2016-02-06 02:10] danielstuart14 commented on #159
@tkcjesse only if they getIn as driver...

Afaik, we can't do that... This is because arma is dumb, and if we add a event handler preventing restrained players to getIn/getOut, cops will not be able to put/take players from vehicle.

[2016-02-06 02:33] danielstuart14 commented on #159
I have a idea... I'm going to pull-request it.
But I need someone to test before merging.

[2016-02-06 03:04] devShit opened #161 "ingame invite/rank promote for cop/medic || slot control"
cop/medic can invite civilian to join thier faction. it will be good experience for player after they passed the test. no need to manual update and be able to promote rank in game too

for slot chosing player should have only one faction to play if they are in cop they should not go on civ

i tink its not hard to create but should have on base system

[2016-02-06 05:53] danielstuart14 commented on #159
https://github.com/ArmaLife/Altis/pull/162
Just need someone to test (All possibilities: move to driver/get out in high speed/get out flying/etc)

[2016-02-06 09:35] tkcjesse opened #163 "Can Revive Anyone"
As a medic you revive people who haven't even requested.

Assume this has to do with our actionKeyHandler checks? or fn_revivePlayer.sqf

[2016-02-06 09:37] tkcjesse commented on #163
Line 66: actionKeyHandler also has  if(((playerSide == blufor &&

Probably should change that to west.... haha.

[2016-02-06 09:45] NiiRoZz commented on #163
Fix 52c61450176ee2960a8c1a03d85e857beb79bd6e

[2016-02-06 09:45] #163 closed

[2016-02-06 09:45] NiiRoZz commented on #153
For the 3 : 52c61450176ee2960a8c1a03d85e857beb79bd6e

[2016-02-06 09:51] Jawshy commented on #158
@danielstuart14, tazers do not taze civilians at all.

[2016-02-06 11:20] NiiRoZz commented on #153
@tkcjesse For the 4 : I do not understand
For the 3 : I think that has fix
For the 2 : if you can explain more
For the 1 : i will do that soon

[2016-02-06 11:35] Jawshy commented on #153
\4. Vehicle interaction menu is working for me as of ce81ef9. You need to have a toolkit in order to get the "Repair vehicle" option and sometimes the "Flip vehicle" options appears when the vehicle is upright and sometimes it does not appear. "Push boat" is fine.

[2016-02-06 11:47] Jawshy opened #165 "Text error when servicing a helicopter"
When servicing at Air Service Station. Screenshot below. ![this screenshot](http://puu.sh/mXQvv/a252c61ac5.jpg)

Related files:
- Altis/Altis_Life.Altis/core/actions/[fn_serviceChopper.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/actions/fn_serviceChopper.sqf)
- Altis/Altis_Life.Altis/[stringtable.xml](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/strin

[2016-02-06 12:40] danielstuart14 commented on #165
https://github.com/ArmaLife/Altis/commit/2a2e5671a4bbbef4729aa53d1f16dd7e925e3a65

[2016-02-06 12:40] #165 closed

[2016-02-06 14:00] Jawshy commented on #153
1. Police/cop search of house does **not** find any illegal items (Example: drugs) but the database does detect that the item is in the container. Using: 63395af

 \5. Could not place down a large store container on the second floor of a [House (Large, Yellow)](https://community.bistudio.com/wiki/Arma_3_CfgVehicles_EMPTY#Land_i_House_Big_01_V2_F) \[need to test more].

Link to [.zip file](http://p

[2016-02-06 16:52] DarkSilencerZA opened #167 "Weapon Dupe"
When a player dies inside a vehicle, and the player is removed from the vehicle to be revived, the gun falls out of the vehicle onto the floor and does not get deleted.

Once the player is revived - he has a gun in his hands and a gun on the floor. (Duped)

[2016-02-06 17:40] silvercn opened #168 "Spawning Car from Garage always output the text in Original language"
life_server\Functions\Systems\fn_vehicleStore is using stringtable seen here:

`	life_garage_store = false;
	(owner _unit) publicVariableClient "life_garage_store";
	[1,(localize "STR_Garage_Store_Success")] remoteExecCall ["life_fnc_broadcast",(owner _unit)];`

but  server side does not detect your language, it needs to be moved over to clientside. Same for storing the Car back in Garage.

[2016-02-06 21:03] clackd1amond commented on #161
Yeah. It would also be cool if, for example, cops could give driving licenses to civilians. It would me the RP better, so civs won't be able to buy driver lincese, but will have to pass the test while the cops watches. And after the test, the cop desides wheather the civ can get license or not.

[2016-02-06 21:28] sargken commented on #161
That would easily be abused also.

[2016-02-07 00:10] tkcjesse commented on #153
Yeah same issue as @Jawshy, can't seem to place crates upstairs in buildings. Also, when selecting the crate and clicking use in the pmenu, the pmenu dialog should close once you hit use. I have an issue where a crate is now not doing anything and is actually stuck to me.

[2016-02-07 02:17] tkcjesse commented on #163
This is still an issue. You can revive anyone even if they didn't request medic.

[2016-02-07 04:10] danielstuart14 commented on #167
Can you try this?
https://github.com/ArmaLife/Altis/pull/173

[2016-02-07 07:52] NiiRoZz commented on #153
@Jawshy and @tkcjesse test this commits for can't place storage on 2nd floor in house : 7fd21dca6598f201259c264809febd22e8141ec7

[2016-02-07 11:18] Jawshy opened #177 "Civilian still restrained after cop/police disconnects"
When a cop/police restrains a civilian and then the cop dies the civilian is still restrained, **but** if the cop restrains a civilian and then disconnects to the lobby and from the server, the civilian remains restrained.

Game version: 1.54.133741
Mission version: v4.3r4 - latest commit: 9bc8de6cb40491d0d1fd9ef6198edcb79f7e09b6 plus pulls #175 and #176

[2016-02-07 12:26] DarkSilencerZA commented on #167
I shall test and let you know.

[2016-02-07 13:27] DarkSilencerZA commented on #167
Doesn't work.

[2016-02-07 13:49] danielstuart14 commented on #177
try this: https://github.com/ArmaLife/Altis/commit/e8f7c9dd1f7de340e2560d18e32637acfc71dee8

[2016-02-07 13:49] #177 closed

[2016-02-07 13:51] #159 closed

[2016-02-07 13:52] danielstuart14 commented on #159
https://github.com/ArmaLife/Altis/commit/3c2580fb08e8dc493f0ffa16feba3f9fd9b36cf3

[2016-02-07 13:54] danielstuart14 commented on #167
check this commit then :
https://github.com/danielstuart14/Altis/commit/e58347cdf309aa5a203d8ba68d3a9aea08f5b6b5

[2016-02-07 13:57] DarkSilencerZA commented on #167
Will that work? From what I can see thats only when a player is revived. The issue we have is that it's not being deleted if the player is killed inside a vehicle and is pulled out.

[2016-02-07 13:59] danielstuart14 commented on #167
yeah, I think I found the issue
Check my pull-request again https://github.com/ArmaLife/Altis/pull/174

My question is, the weapon is dropped when player is pulled out or when he dies?

[2016-02-07 14:13] DarkSilencerZA commented on #167
1. Player dies inside a vehicle
2. Player [dead body] gets pulled out of the vehicle
3. Player's weapon drops on the floor
4. Weapon is not deleted

[2016-02-07 14:14] DarkSilencerZA commented on #167
The following is what happens:

1. Player dies normally
2. Player weapon drops
3. Player weapon gets deleted after a few seconds
4. Player gets revived
5. Weapon is returned to player

[2016-02-07 14:19] DarkSilencerZA commented on #167
https://github.com/danielstuart14/Altis/commit/ed6ddd6f66cb7840d5b20dc5562537c1d4194ee0

This doesn't work. The weapon doesn't get deleted at all - even if the player is killed on the map.

[2016-02-07 14:30] danielstuart14 commented on #167
I see, so the problem isn't the delete weapon script.
It's just the pull out script that doesn't run it.

[2016-02-07 14:33] DarkSilencerZA commented on #167
Correct

[2016-02-07 15:52] NiiRoZz commented on #167
can fix but i don't know if work

[2016-02-07 15:55] DarkSilencerZA commented on #167
I can test your fix for you

[2016-02-07 16:02] NiiRoZz commented on #167
test this 2 commits :
https://github.com/NiiRoZz/Altis/commit/981080caddee633760b866038e90cee9d739fbd2
https://github.com/NiiRoZz/Altis/commit/ed4c0b25cb8ff1874fea3ff8214ade2ddfaf595d

[2016-02-07 16:08] danielstuart14 commented on #167
https://github.com/ArmaLife/Altis/commit/4d8dd84c89ba86595e16b920597c3f70e5e23694

should work

[2016-02-07 16:11] NiiRoZz commented on #167
No can't because you can pulout player not alive when for exmeple payer are death in driver if vehicle are unlocked just player go in driver the corpse of player will pullout

[2016-02-07 16:21] danielstuart14 commented on #167
yeah, but the weapon doesn't spawn in the floor when someone get in the place where the dead body was... At least I think

[2016-02-07 18:44] NiiRoZz commented on #153
@tkcjesse test and update all your issue

[2016-02-07 19:02] tkcjesse commented on #153
Yeah, will do.  Out for the day.

[2016-02-07 20:13] NiiRoZz commented on #167
Fix : 41454c0e322254ebd9238eef4a5b1abdd5f49885

Only can execute on client i don't know why.

[2016-02-07 20:13] #167 closed

[2016-02-07 20:31] silvercn opened #178 "Turning Player arround in Clothingshop"
Would be great if you could get a slider on the Clothingshop, so that you can turn the player arround, and see also the backside.

[2016-02-07 20:39] danielstuart14 commented on #178
I like the idea. It isn't that hard to do...
(How could I never thought about that, awesome idea)

[2016-02-07 22:44] danielstuart14 opened #180 "Smallbox: remove container"
Smallbox (ammobox_f or Box_IND_Grenades_F) only shows the interaction menu if player is proned

[2016-02-07 23:15] danielstuart14 opened #181 "House issue"
Sometimes player's houses just disappear. (They still in DB and are shown as owned, but player can't open it or spawn on it.)

To "solve this", player has to buy a new house and disconnect, Then, all the houses show up.

I'm working on it, but if someone has an idea, I'll be glad.

[2016-02-08 00:01] devShit commented on #181
ya experience about this in other case. so
some time like you said instead. other player find a buyable house and that house actually have the owner but. they can still buy it even the owner standing in front of the door (while i test that)

and i write a query to check it if any house have more than one owner
`select a.pos , a.id
from (select * from houses where pos not in (select pos from houses

[2016-02-08 00:30] tkcjesse commented on #180
Yeah. Noticed with the large crate too. Its pretty hard to get the dialog. Maybe an addaction to delete would be better?

[2016-02-08 01:41] danielstuart14 commented on #180
currentTarget is better, I think

[2016-02-08 02:14] NiiRoZz commented on #180
You cant cursortarget, you are in house and i dont want to use nearestobjects because spam of bad conversion scalar in rpt

[2016-02-08 02:17] NiiRoZz commented on #180
Cursortarget will return all the time the house, don't return the container ..

[2016-02-08 02:29] tkcjesse commented on #180
Ah...

[2016-02-08 02:31] tkcjesse commented on #177
@Jawshy

Players should become un-restrained after 5 minutes when they have no cops near them (30 meters)

@danielstuart14
if(isNull _cop) exitWith {
		player SVAR ["Escorting",false,true];
		detach player;
};

Did NOT work for me. I had the restraining cop disconnect and the player remained restrained.

[2016-02-08 02:32] danielstuart14 commented on #177
yeah, I'll let how it's for now.

[2016-02-08 03:05] tkcjesse opened #182 "Crate / Vehicle Searching Issues"
Returns no illegal items if the sellPrice is set to -1. This happens on unprocessed stuff mostly. Including bolt cutters / charges

[2016-02-08 03:17] tkcjesse commented on #153
@NiiRoZz  Updated with recent issues.

[2016-02-08 04:33] danielstuart14 commented on #178
https://github.com/ArmaLife/Altis/commit/28dcc7760fec2c98655c16bb07f64e40b0d4376f

[2016-02-08 04:33] #178 closed

[2016-02-08 05:09] tkcjesse opened #183 "Wanted System Issues"
1. fn_wantedProfUpdate was added but isn't used anywhere?

[2016-02-08 06:08] NiiRoZz commented on #183
Men all your issue, i have test With @danielstuart14 and all work, only the 4 i didn't test

[2016-02-08 06:10] tkcjesse commented on #183
@NiiRoZz I would double check you committed everything? As there was no Strings and such. Unless you tested it without text on the buttons?

[2016-02-08 08:17] NiiRoZz commented on #183
Ho sorry men yes i dont modify directly this version so i dont put cfgremoteexec i Will do, @tkcjesse sorry men

[2016-02-08 08:21] NiiRoZz commented on #183
I Will do in 9 h ours because i can't do Now

[2016-02-08 08:29] tkcjesse commented on #183
No problem man. I'm sure it came off rude. Just got frustrated with how you seemed to have worded that. Didn't mean it rude, we all make mistakes :)

[2016-02-08 08:31] NiiRoZz commented on #183
I'm just frustred because when i work on it i search in all file error Just i don't put "=" in query but i search this error 30 times.

[2016-02-08 08:32] NiiRoZz commented on #183
But when i test all work, just i don't test when multiple player are inside the wanted liste.

[2016-02-08 08:35] tkcjesse commented on #183
Yeah. The two fixes I posted, I know the first one works, where it just grabs everyone. As I added that a little bit ago and it works fine now. The 2nd fix by AlaskaVet, I'm not sure. haven't tried.

https://i.gyazo.com/acdc6c504beb2028a62e3baf5b5477e3.png

If you need me to host it or anything and I'm on, I'm more than willing!

[2016-02-08 08:39] NiiRoZz commented on #183
Your fix it's don't need because i check if are anything in array units and if fond anything Just pushback, i have alreadJust already fixed it, i think.

[2016-02-08 08:43] NiiRoZz commented on #183
You fin de any error other the cfgremoteexec ?

[2016-02-08 08:47] NiiRoZz commented on #183
Wanted add work ?

[2016-02-08 09:04] tkcjesse commented on #183
I didn't implement any of the changes I suggest beyond the solution for #4. I perfer to change things as they're commited. Otherwise I make mistakes/forget things easily -_-    Trying to basically do 3 Altis Lifes at once. Haha

[2016-02-08 12:46] Jawshy opened #185 "Vehicles have thermals after retrieving from garage"
Buying a vehicle from a shop will [disable the vehicle's thermal imaging](https://community.bistudio.com/wiki/disableTIEquipment) upon spawning, but retrieving a vehicle from the garage does not have this check.

Relevant files:
- Altis/Altis_Life.Altis/core/shops/[fn_vehicleShopBuy.sqf](https://github.com/ArmaLife/Altis/blob/7ded6071294f0fc5c1cec6a2e21221d592db423a/Altis_Life.Altis/core/shops/fn_

[2016-02-08 12:58] NiiRoZz commented on #185
I Will fix it when i return in my home

[2016-02-08 16:40] danielstuart14 commented on #185
https://github.com/ArmaLife/Altis/commit/9153290368bf2faa649572e87477810e1b33fb15

[2016-02-08 16:40] #185 closed

[2016-02-08 17:14] NiiRoZz commented on #183
Test with this version : 01e2ab7025cfa8b43dae3ac21df87e1bca24a449

[2016-02-08 17:35] NiiRoZz commented on #180
Fix : 780a2a8127b3f210c2ec39de922205b21e80c616

[2016-02-08 17:35] #180 closed

[2016-02-08 17:38] NiiRoZz commented on #153
FOr the 5 : i test all and for me, the crate delete every time
For the 6 : i test and for me, don't have 2 crate spawn
For the 2 : f8471ab0fa9a28b816cd854f483a073658c920df
For the 4 : yes you need to don't move and yes i know but is the best solution for check if you are in house ... This bug is most often in house doesn't have 2 floor;

[2016-02-08 18:01] NiiRoZz commented on #182
Fixed : bc1f73f715469e374afe594389e49e9abecf683e

[2016-02-08 23:23] tkcjesse commented on #4
@danielstuart14 Could probably close this?

[2016-02-08 23:37] danielstuart14 commented on #4
not yet...

[2016-02-09 00:02] tkcjesse commented on #183
@NiiRoZz   Wanted list shows when only 1 civ is wanted. When another user is on that's currently wanted, the list doesn't work.

https://i.gyazo.com/28869fce7c972afcb2cf2427c3404c7d.png

[2016-02-09 00:02] tkcjesse commented on #183
It has to do with how sql adds "\" I believe. Something with the wantedFetch statement method...

[2016-02-09 00:15] cammygames commented on #183
@tkcjesse try this for wantedFetch. http://pastebin.com/K3mV4jjR I have this code working on my server

[2016-02-09 01:18] danielstuart14 commented on #183
@tkcjesse
https://github.com/ArmaLife/Altis/commit/07149fb6d8df47b6fd819c1fdc78079cbf3e11f2

Can you try if it is renaming the player after he change the name?

[2016-02-09 02:32] tkcjesse commented on #183
Will do in a bit

[2016-02-09 03:40] tkcjesse commented on #183
Fixed.

[2016-02-09 03:40] #183 closed

[2016-02-09 03:48] tkcjesse commented on #182
Says that "Nothing Illegal Inside", even though there is. Also checked vItems to make sure the item was marked "illegal = true".

[2016-02-09 06:02] NiiRoZz commented on #182
I will recheck because me i have tested only vehicle and it's work, i will recheck and update

[2016-02-09 06:05] tkcjesse commented on #182
Okay. It could be me possibly..... My files match though...

[2016-02-09 08:06] NiiRoZz commented on #181
If anyone can reply me why not use init house just one time : select all house and setvariable, why use inner join because you need to wait player join to addvariable locked to the house, why didn't select all house and setup the variable in house, just don't use INNER JOIN use just select and where in all house. I don't know if are a nice idea.

[2016-02-09 08:12] NiiRoZz commented on #182
I have retested before leave my house and for me it's work for vehicle, it's said have illegal but i think the sellprice are bugged.

[2016-02-09 08:19] tkcjesse commented on #182
Okay. Must be something on my side. I'll try it again later.

[2016-02-09 10:41] Jawshy opened #193 "New HUD clips through default Arma HUD elements"
I suggest the [custom HUD](https://github.com/ArmaLife/Altis/commit/0666382f983c2f059c016705e62681d6cad43a7d) be moved down to the bottom.

###### Custom HUD
![](http://puu.sh/n1pon/a878043943.jpg)

Game version: 1.54.133741
Mission version: v4.3r4 - latest commit: 0523f59c2210650884559a874d50ba1c1de8c617

[2016-02-09 10:57] DarkSilencerZA commented on #193
Yeah move it down to bottom.

[2016-02-09 11:14] Heavybob commented on #193
Agreed, game ruined because of hud. Completely unplayable.

*Just kidding around, looks a bit funky, not a big issue*

[2016-02-09 13:58] sargken commented on #193
^^

[2016-02-09 15:04] danielstuart14 commented on #193
Will set it at bottom as default and add an option for setting at top

[2016-02-09 15:07] sargken commented on #193
Sweet

[2016-02-09 18:13] NiiRoZz commented on #153
Close because the last issue already define #182;

[2016-02-09 18:13] #153 closed

[2016-02-09 20:46] tkcjesse commented on #182
@NiiRoZz So the problem is.... when the sellPrice is -1, it won't be found...

[2016-02-09 20:48] NiiRoZz commented on #182
Yes i Will rework the system tomorrow.

[2016-02-09 20:53] tkcjesse commented on #182
Well otherwise we can just make it so illegal items have sell prices?

[2016-02-09 21:46] CanadienFr commented on #161
This is very nice idea !

[2016-02-10 01:50] devShit commented on #181
i agree with you NiiRoZz

[2016-02-10 04:32] Jawshy commented on #193
9df38ef7e5061c220418dbcf9bf4f0535b424111
/closed

[2016-02-10 04:32] #193 closed

[2016-02-10 04:42] danielstuart14 opened #196 "Gang withdraw"
Add an option to withdraw money from gang in ATM.

Maybe an option in gang menu, for gang leader enable or disable this function, too.

[2016-02-10 05:54] NiiRoZz commented on #196
I Will no problem it's ez i have already that.

[2016-02-10 06:05] NiiRoZz commented on #196
Added : 29583fb36cc10577286f82f9dcb3cc855694ec64

[2016-02-10 06:05] #196 closed

[2016-02-10 06:07] NiiRoZz commented on #182
I will just when are a item unprocessed just check thie price of item processed, just that.

[2016-02-10 17:45] NiiRoZz commented on #182
Test this : 2adcb91fbeeace634b4d417a1bb991ac6915a907

[2016-02-10 19:30] NiiRoZz commented on #181
Test this and look if the issue persist : 1c65fb05c27bcd0fd45e4ed4304ec0fa617d7ac4

[2016-02-10 21:32] danielstuart14 commented on #181
after this commit, it doesn't even work.
No rpt error

[2016-02-10 22:18] danielstuart14 commented on #181
Showing any house now.
No rpt errors

[2016-02-11 01:43] devShit commented on #181
it should setup all house when server start up when player is joined. isn't it ?

[2016-02-11 06:01] NiiRoZz commented on #181
Now setup all house when server start, if you setup when player join, anyone can buy house of other player and you have multiple orner in house.

[2016-02-11 06:05] NiiRoZz commented on #181
I have setup and my house showed up, all my house and have variable house owhere.

[2016-02-11 06:14] devShit commented on #181
no no i mean i should setup all before player join in that is

[2016-02-11 13:32] NiiRoZz commented on #181
With my commit, he setup all before join, he don't use INNER JOIN

[2016-02-11 17:41] NiiRoZz commented on #182
2a079baa533d839a86a6bef55d9db069bbf909d3 this fix

[2016-02-11 17:48] tkcjesse commented on #182
I think dan wanted to still use the pocessedItem though. According to last nights gitter conversation.

[2016-02-11 17:49] NiiRoZz commented on #182
It's impossible blastingcharge don't have processed item, if you create item only for price it's very ...

[2016-02-12 00:38] flanks commented on #4
How about a new system for gathering stuff i must say i like the system a3l had with planting weed plants etc with the new command createObjects plants and other various stuff can be used https://forums.bistudio.com/topic/187670-new-command-createobject-for-decorative-objects/  but its no the dev build atm.. thanks

[2016-02-12 03:45] Heavybob opened #199 "World of Hurt - Bug Testing"
On a complete fresh install and returning I find everything is broken again. Good job guys.

README.md Documentation is wrong.
[ArmaLife] is ment to be [AltisLife]
Name = altislife

Undefined Default Variable. Dan, I talked about this a while ago with you.
Extdb2 log:
http://hastebin.com/bugececeji.md

*This is spammed repeatedly. Nothing is saved into db since no default value is made.*

[2016-02-12 04:04] Heavybob commented on #199
https://github.com/ArmaLife/Altis/pull/200

Fixed the stats issue with default values.

[2016-02-12 04:08] Heavybob commented on #199
Submitted my two pull requests.

[2016-02-12 04:08] Heavybob commented on #199
https://github.com/ArmaLife/Altis/pull/201

[2016-02-12 04:08] #199 closed

[2016-02-12 04:13] Heavybob opened #202 "Silent Errors"
Client side Silent Errors from fresh spawn civ refering to life_gangdata.
http://hastebin.com/jepakobego.tex

*Have not checked if anything is broken yet but the error shouldn't exist.

[2016-02-12 04:26] #202 closed

[2016-02-12 20:34] #182 closed

[2016-02-13 01:55] Kimax89 opened #206 "Diamond mine not working"
all i get is "You not near a mine"

I have checked the marker in the mission file, but no luck there.
And i cant figure out where the zones are defined.

I'm not that familiar with the structure so i'm kinda looking around blindfolded.

[2016-02-13 01:58] sargken commented on #206
Can you get the name of the marker.

[2016-02-13 01:58] Kimax89 commented on #206
class Item34
		{
			position[]={18478.988,25.055317,14297.403};
			name="diamond_mine";
			text="@STR_MAR_Diamond_Mine";
			type="mil_triangle";
			colorName="ColorBrown";
		};

[2016-02-13 02:01] sargken commented on #206
Is there a zone around it highlighted? Ex diamond_1

[2016-02-13 02:01] sargken commented on #206
It looks for the zone, if there isn't make a circle and name it that.

[2016-02-13 02:01] Itsyuka opened #207 "Remove all traces of my work"
I want any file that was created and/or modified by me to be removed completely.

Reason: Removing credits.

[2016-02-13 02:03] Kimax89 commented on #206
there is only diamond_mine

I will change that to diamond_1 and see if that works.
i can see that the iron mine is named iron_1

[2016-02-13 02:06] Jawshy commented on #206
I'll make a pull request momentarily.

[2016-02-13 02:09] sargken commented on #206
thanks @Jawshy

[2016-02-13 02:10] sargken commented on #207
https://github.com/ArmaLife/Altis/blob/b6b281db803eb1fed03690df943fd12e55736388/Altis_Life.Altis/core/cop/fn_copLoadout.sqf

[2016-02-13 02:10] sargken commented on #207
https://github.com/ArmaLife/Altis/blob/b6b281db803eb1fed03690df943fd12e55736388/Altis_Life.Altis/core/functions/fn_saveGear.sqf

[2016-02-13 02:10] sargken commented on #207
That's what comes up when I type in your name.

[2016-02-13 02:12] Itsyuka commented on #207
And modified, don't forget modified. (70% of altis-life I believe)

[2016-02-13 02:13] killerty69 commented on #207
I am pretty sure he means all his commits.

[2016-02-13 02:17] Kimax89 commented on #206
that worked. Gonna pull that right away.

[2016-02-13 02:19] danielstuart14 commented on #207
Didn't even touch the header of files I changed.
Only HUD I changed, and that was because I redid about 99%.

I really would understand if someone had merged a script you did without your permission, but all your scripts here were you who merged. Again, the only one was HUD, and I'm pretty sure I already mentioned it.

So, if you can point any file your credits were removed, pls, just show me. oth

[2016-02-13 02:23] tkcjesse commented on #207
@Itsyuka -> https://github.com/ArmaLife/Altis/commits?author=Itsyuka

I just randomly opened a bunch of those... No where in there do you ever modify the header to include yourself... Feel free to find some files where you did...

[2016-02-13 02:27] Itsyuka commented on #207
Nah, still want stuff removed, I wanted to make a stupid reason

[2016-02-13 02:28] tkcjesse commented on #207
@Itsyuka Ah yes! Because you willingly pushed shit to a public repo that mind you was Tonic's... Go ask Tonic to do it...

[2016-02-13 02:31] danielstuart14 commented on #207
Okay, you want, that's pretty awesome.
But I think you didn't read the license that Altis-Life is covered, and it was before you start working on it.

Sorry mate, if you want it to be remove, talk with tonic.

[2016-02-13 02:31] #207 closed

[2016-02-13 02:31] Kimax89 commented on #207
@Itsyuka You cant just give out cookies to strangers and later demand to get them back. Thats not how a public repo works.

[2016-02-13 02:31] #181 closed

[2016-02-13 02:32] Itsyuka commented on #207
"If in any case that content is being used within this mission / framework that the content creator doesn’t wish for it to be used due to my strict TOA / Agreement all you need to do is ask for it to be removed and it will be honored. "

[2016-02-13 02:33] sargken commented on #207
Who says it will be honored?

[2016-02-13 02:33] sargken commented on #207
Tonic and who's around now?

[2016-02-13 03:44] Jawshy commented on #206
Issue can be closed.

[2016-02-13 04:00] #206 closed

[2016-02-13 06:44] Heavybob opened #211 "Bail Guy"
How does one pay bail without NPC?

[2016-02-13 09:36] TAWTonic commented on #207
That refers to peoples work that was not added by them, it does not include yourself that you willing did.

[2016-02-13 11:54] Itsyuka commented on #207
@TAWTonic Was dared to say it, and I never cared about the crap work I did.

[2016-02-13 14:25] NiiRoZz commented on #3
75b507ad5001ddc6dbd170c06c1885dedaa9502c

[2016-02-13 14:25] #3 closed

[2016-02-13 16:25] Jawshy opened #213 "Ability to preview the selected texture in a vehicle shop"
As suggested in the comments for commit 75b507ad5001ddc6dbd170c06c1885dedaa9502c, being able to preview the selected texture in a vehicle shop would be the icing on the cake.

[2016-02-13 16:35] NiiRoZz commented on #213
No problem, i Will do in 2 days, just wait that.

[2016-02-13 17:31] Arkensor commented on #207
Wow such Kindergarten ... public github repo = I do not care about other people using my content / I want other people to use my content.

Nothing more, nothing less. Dunno why you complain @Itsyuka ... they want to work with altis life, so let them do ;)

[2016-02-13 18:14] #213 closed

[2016-02-13 23:19] danielstuart14 commented on #211
if you remove the NPC from its group it shows up.
Idk why... I think just creating another solve the problem. Will test out

[2016-02-13 23:38] TAWTonic commented on #211
It's because his formation is not set to None, its set to follow or w/e so he is teleporting to the master_group NPC.

[2016-02-14 00:23] sargken commented on #211
@TAWTonic You getting back in to Altis Life?

[2016-02-14 00:53] TAWTonic commented on #211
No i'm just answering a fairly easy question.

[2016-02-14 01:55] danielstuart14 commented on #211
https://github.com/ArmaLife/Altis/commit/f386941f92676c1d3b17464a44e6bc99db2df14b

Thx tonic, never thought about that.

[2016-02-14 01:55] #211 closed

[2016-02-14 07:54] Jawshy commented on #213
#215

[2016-02-14 08:48] clackd1amond opened #219 "Suggestion: multiprocess"
Combine 'x' items of 'a'-resource and 'y' items of 'b'-resource and get 'z' items of 'c'-resource. The main idea is set here: http://www.altisliferpg.com/topic/9820-script-dynprocess-by-ryan/, but I don't think that automatically buying a license without proposal and info about the license price is a good idea.

[2016-02-14 14:53] #168 closed

[2016-02-14 15:24] NiiRoZz commented on #219
You you have all the time very fucking idea ;)

[2016-02-14 16:08] clackd1amond commented on #219
I'm sorry, my English is not very well. "very fucking idea" - is it good or bad?
Cause I've got plenty of them :)

[2016-02-14 16:08] NiiRoZz commented on #219
Good but hard ;)

[2016-02-14 16:10] clackd1amond commented on #219
Yeah, Ryan's scripts are good,but a bit out of date

[2016-02-14 16:47] chris579 commented on #207
However, you still have your copyright and your're able to define who is allowed to use your code. Doesn't matters what shitty license is covering this.

[2016-02-14 17:02] chris579 commented on #219
Ryans scripts are not good. This is crap. You have to hardcode the required items on the map. Don't use it!

[2016-02-14 17:06] clackd1amond commented on #219
That's why I suggested of creating more convenient script. I know it can be done but I'm not very good at it: (

[2016-02-14 17:06] danielstuart14 commented on #207
this isn't how things work...

You should take a look in GPL, MIT and even CC license.

Think about if Linus, out of the blue, decides that anyone could use his linux sources anymore.
Or even, if an ext4 developer decides that anyone could use their ext4 sources.
Many projects would be ruined (Android, canonical, redhat, MANY banks, etc). And this is why, open-source licenses exist. Preventing any

[2016-02-14 17:14] chris579 commented on #207
You should keep in mind that there was never a CC license or something like that. It was the own license + disclaimer. So, rekt.
Altis Life never had an open source license.

[2016-02-14 17:24] danielstuart14 commented on #207
Really? This is one of the first commits Tonic did:
github.com/ArmaLife/Altis/blob/188919639914c50801b4a022f8a27739b46caf31/README.md

Read the first lines pls, and stop posting lies here. If you don't know something, just don't say anything.

[2016-02-14 18:24] chris579 commented on #207
If you're an idiot just stop writing here either,

[2016-02-14 18:31] Arkensor commented on #207
@chris579 did you just Rekt yourself ? *lol*

[2016-02-14 18:34] chris579 commented on #207
@Arkensor Did you just Rekt your life? *lol*

[2016-02-14 18:35] Arkensor commented on #207
@chris579 well no. I was not the one, getting the fail of the year award .. BTW how are the wind turbine doing. Still a performance issue ?

[2016-02-14 18:44] devShit commented on #207
@Arkensor tell people how to host 200 player

[2016-02-14 18:48] Arkensor commented on #207
@devShit ok: if(performace == "bad") then {performace = "good"}; done. And remove all wind turbines from the map, as @chris579 found out they would cost much performace, because of the non existent network sync. *lol*

[2016-02-14 18:49] falkebo commented on #207
@devShit tell people how to write unnecessary comments...

[2016-02-14 19:01] chris579 commented on #207
@Arkensor how is it to be a faggot? Wondering that you are still living. I hope you send Yawalla another time to us, we're happy about a bit flaming from an pseudo sovereign server admin. However, wish you best luck with an Altis Life server without roleplay and with still bad performance. Hope you can fap on your 200 players that make your penis 1.2 inces longer. PS: Remove your 7 script threads

[2016-02-14 19:27] Arkensor commented on #207
@chris579 ok godfather. You are so right, how dare we are to host 222 players ... I will split it into 2 hives with 80 players, and make my mission as shitty as youre one ist. That must the the true altis life feeling ... Sad that you are still butthurt.

Enjoy your little but 100% roleplay server, with this awesome performace. And its pretty cool that you still look up our mission, to copy the id

[2016-02-14 19:34] chris579 commented on #207
@Arkensor Funny that you still think that there are things in your mission other could steal. You don't have any features. Funny kid.

[2016-02-14 19:35] devShit commented on #207
@chris579 why real altis life server won't host more than 100 are you joking to me its very fun

[2016-02-14 19:36] chris579 commented on #207
@devShit Because it ends in an RDM party and shitty performance.

[2016-02-14 19:36] Arkensor commented on #207
@chris579 Oh yeah you already took all ideas, indeed sorry for that. Now you are taking my word KID to offend me, how clever. Much Wow.

Look where you and your server are, and then look where I am ... and then think about who's concept might be better

[2016-02-14 19:38] devShit commented on #207
i hosting full of 90 player and its already RDM party no different of slot amount its depend on how you control i tot

[2016-02-14 19:42] chris579 commented on #207
@Arkensor Still, your server has no ideas and no features I could even took. And your hyper Mikero protection is also stopping me from looking into your hyper optimized shit mission. I don't care about a Gametracker rank. As I can see you do. So, have fun with your shitty server. And you're still a bad developer. Have fun with your further life.

[2016-02-14 19:50] Arkensor commented on #207
@chris579 have fun, with your server too. Yeah If I am rank .. I dont know something bad, cause I dont see pirates anywhere on the first pages - then I would call on ranks either.

yes I am such a bad developer, as Ive stated you should get all the files and share you perfect scripting knowledge with us, sir.

That you know about our protection, means you at least tried it once ahahah

Have fun wi

[2016-02-14 20:29] Heavybob commented on #219
I was tempted to running ryans dynamic market though I was going to use a php script to adjust the values for each item. Thinking outside the box but it would work.

[2016-02-14 21:14] sargken commented on #207
@chris579 Get the fuck off this chat.

[2016-02-14 21:17] sargken commented on #207
@chris579 go get stuck up further @Itsyuka ass. Because he was "dared" im sure.

[2016-02-14 21:19] sargken commented on #219
@chris579 since your a master fucken coder you do it for your self. Dont cut on someone elses shit.

[2016-02-14 21:56] chris579 commented on #219
I did. And I'm happy with my code since it is perfect.

[2016-02-14 21:57] sargken commented on #219
Then Stop Bitching, since your such a master coder.

[2016-02-14 22:10] tkcjesse commented on #219
Please stop arguing in chat. Use private chat in gitter or go to the forums with it...

[2016-02-14 22:10] tkcjesse commented on #207
@Arkensor @chris579 if you guys have things to express, do it on the altisliferpg.com forums. Here's not the place for this crap.

[2016-02-15 00:32] magicianaos opened #224 "Player Position Save & Market system with ExtDB"

[2016-02-15 00:33] magicianaos commented on #224
How about player position save & market save system?

[2016-02-15 00:34] sargken commented on #224
How would it be a market save system.

[2016-02-15 00:35] magicianaos commented on #224
just like below link
http://www.altisliferpg.com/topic/4833-tutorial-sql-based-market-dynamic-economy/#comment-31487

[2016-02-15 00:36] sargken commented on #224
http://www.altisliferpg.com/topic/9971-script-dynamicmarket-by-ryan-altislife-3148-and-4000-compatible/? That you mean?

[2016-02-15 00:39] magicianaos commented on #224
Yes, I think ExtDB market system batter than current market system.

[2016-02-15 00:40] sargken commented on #224
I think so also, the script can use some improvement.

[2016-02-15 06:31] CanadienFr opened #227 "Separate money between factions"
One thing can be cool it sperate the money between the faction with a option on the Config_Master to enable or disable. it only a suggestion.

[2016-02-15 09:14] magicianaos opened #228 "life_server\fn_updateGang.sqf Error"
rpt log file error message

Error in expression <Members","_members","_query","_owner"];
params [
["_mode",0,[0]],
["_group",grpN>
  Error position: <params [
["_mode",0,[0]],
["_group",grpN>
  Error Params: Type Group, expected Array
File life_server\Functions\Gangs\fn_updateGang.sqf, line 9

[2016-02-15 09:15] NiiRoZz commented on #228
When ?

[2016-02-15 09:28] magicianaos commented on #228
when I create a gang.
Maybe.

[2016-02-15 11:36] DarkSilencerZA commented on #219
It's a good idea. I am currently running a similar idea on my server. Not Ryan's stuff though. It's our own.

[2016-02-15 13:59] NiiRoZz commented on #219
#229

[2016-02-15 14:18] NiiRoZz commented on #228
we need more precision about this error.
She knows reproduced from?
the precise moment it happens please.

[2016-02-15 15:41] DarkSilencerZA opened #230 "Scroll ---> Seize Items (Cops)"
A good feature to add would be for a cop to have the ability to scroll ---> Seize any weapons / items etc that's on the ground or even on another player.

[2016-02-15 15:52] danielstuart14 commented on #227
Yeah, that's good.

[2016-02-15 15:55] danielstuart14 commented on #230
cop interaction (windows key) would be better

[2016-02-15 16:09] sargken commented on #230
I like the action instead because Windows key menu half the time doesn't work when picking up money

[2016-02-15 16:22] danielstuart14 commented on #224
player position is going to be added soon... I'm finishing it.

dynamic market won't be added, at least for now.

[2016-02-15 16:22] #224 closed

[2016-02-15 16:47] DarkSilencerZA opened #231 "Housing Bug"
1. Player buys house
2. Player spends lots of money populating house
3. Server restarts
4. Player can spawn at house but cannot do anything inside house
5. When player presses Windows Key it gives the option for a player to buy the house again

16:04:10 Error Max array size would be reached. Current size: 993183, wanted size: 1003422.
16:04:10 File life_server\Functions\MySQL\fn_asyncCall.sqf, lin

[2016-02-15 17:48] Heavybob opened #232 "Health Problems in Altis"
Everyone knows that to stay alive in altis you need food and water.
I propose, what happens to the food and water after you consume it?
Do we just bloat up and become crazy inflated people?

I propose an actual toilet system.
![](http://i.imgur.com/PQp60P1.jpg)

Lets try to shit this one out together guys.

[2016-02-15 17:50] DarkSilencerZA commented on #232
LOL epic!

[2016-02-15 18:16] #231 closed

[2016-02-15 18:22] NiiRoZz commented on #231
72bb0425c76488ef7b33319523cbaa61e6d57138

[2016-02-15 19:15] NiiRoZz commented on #219
72bb0425c76488ef7b33319523cbaa61e6d57138

[2016-02-15 19:15] #219 closed

[2016-02-15 21:07] Heavybob opened #233 "Veh Config Overhall Suggestion"
Prices for veh should be automatically defined like this to make everything fair regarding prices.

VItemWeight (User Defined) + Armor + Fuel Capacity x Horsepower = Price of Rental Price x veh_prices (in master config)
(this won't work for armed so I would suggest to exempt them)
Chopshop = 50% of Rental Price of Veh x veh_prices (in master config)
Insurance = 30% of Rental Price of Veh x veh_pri

[2016-02-15 21:13] Heavybob commented on #230
I have never had an issue using the windows key on a user. Money is defined server side so thats why its not always perfect. If this could be done and check what weapons are in the rebel shop / any other illegal shops to mark as illegal, this could work perfectly.

[2016-02-15 21:13] Heavybob commented on #230
Same thing with clothing found in rebel shops

[2016-02-15 21:13] DarkSilencerZA commented on #233
I think it's a good idea. Saves a shit ton of time sorting out pricing and what not when starting a server. Makes things easy to manage.

[2016-02-15 23:16] danielstuart14 commented on #228
Are you with the latest version and with vanilla gang system?

Because, the error says: Error Params: Type Group, expected Array

BUT any of the params expect an array. _mode expect a number, and _group expect a group

[2016-02-16 00:06] magicianaos commented on #228
Yes I use current file & vanillia gang system

Um...I'll check.

[2016-02-16 00:27] sargken commented on #233
I dont like the idea, I would want to set vehicle prices manually. But the idea to have them be dynamically picked for chopshop and insurance is good.

[2016-02-16 00:28] sargken commented on #230
Money is not done server side its done in key handler. Its done a shitty way by doing cursortarget.

[2016-02-16 00:35] danielstuart14 commented on #233
actually, you would be able to set it as auto, just removing the price and setting "auto" in the place

[2016-02-16 00:44] Heavybob commented on #233
My proposal is designed to be manual but make it extremely easy for price setting.
You still have to define the vitem space for the veh and on that data will calculate the price.

[2016-02-16 00:45] sargken commented on #233
But that makes no since to be because your still not setting the price.

[2016-02-16 00:49] Heavybob commented on #233
The price is calculated via the method.

Lets say I had a Ural with x space

200 vitem space + 140 + 12 x 80 =  28160 x Mulitplyer x 10 = 281600
VItemWeight + Armor + Fuel Capacity x Horsepower = Price of Rental Price x veh_multiplyer

[2016-02-16 00:53] sargken commented on #233
No thanks.

[2016-02-16 05:53] devShit opened #236 "should we have a GUI show trunk item info while player on it ?"
inspire of server crash no matter what reasons.
player can take a shot before accept that session lost dialog.
so administrators can give back some money.
i don't know if you guys have situation like me so.

[2016-02-16 05:57] devShit commented on #236
![12742786_10208854188054303_6272187856415037974_n](https://cloud.githubusercontent.com/assets/16807706/13068322/cbdcaddc-d4ac-11e5-92ad-12190fdb6cc1.jpg)

[2016-02-16 06:53] DarkSilencerZA commented on #230
Remember that this doesn't just include a player. This could be a weapon that's dropped on the ground by another player (not by death).

[2016-02-16 07:00] Kimax89 commented on #236
thats why it would be nice to have everything in the database ;)

Some might say that it would be causing problem if there is too much data, but i actually dont see that as problem.

[2016-02-16 07:02] Kimax89 commented on #232
thats could be a great idea. Will i be able to shit in the bushes?

[2016-02-16 09:23] DarkSilencerZA commented on #233
No thanks? So if you had 60 + vehicles (example) - you'd want to go and do all of that stuff manually? Do you like wasting time? Because I don't. It's way better to have it automated with the exception of you being able to change them manually if need be to adjust for your economy.

[2016-02-16 11:31] Jawshy opened #238 "Error in expression - fn_cleanupRequest"
The following appears in the server.rpt file when a player (with default/spawn loadout) aborts to the lobby.

[code]

Relevant file(s): Altis/life_server/Functions/Systems/[fn_cleanupRequest.sqf](https://github.com/ArmaLife/Altis/blob/master/life_server/Functions/Systems/fn_cleanupRequest.sqf)

Full .rpt files available on request.

Game version: 1.54.133741
Mission version: v4.4r1 - latest commit

[2016-02-16 11:50] NiiRoZz commented on #238
The unit are alive or not ?

[2016-02-16 11:53] Jawshy commented on #238
The player was alive when aborting to the lobby.

[2016-02-16 12:12] NiiRoZz commented on #238
Fixed https://github.com/ArmaLife/Altis/commit/cb0b70d8f125242c7962003d33a85eea732c98c3

[2016-02-16 12:12] #238 closed

[2016-02-16 12:20] NiiRoZz commented on #236
It's impossible, it's in engine of arma, you can't delete session lost, if you see Session Lost, the mission are not running so can do anything, just go to a server don't crash ;)

[2016-02-16 12:20] #236 closed

[2016-02-16 12:25] Jawshy commented on #236
This.

[2016-02-16 13:14] Jawshy opened #240 "Don't save resource items for persistent vehicle inventory"
Only [virtual items that cannot be abused](https://github.com/ArmaLife/Altis/blob/b6b281db803eb1fed03690df943fd12e55736388/Altis_Life.Altis/core/functions/fn_saveGear.sqf#L141-L142) can [be set as persistent](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/Config_Master.hpp#L10) for players' inventories. So why then are [vehicle inventories](https://github.com/ArmaLife/Altis/blob/ma

[2016-02-16 14:04] Heavybob commented on #233
VItemWeight + Passanger Capacity + Armor + Fuel Capacity x Horsepower = Price of Rental Price x veh_multiplyer

[2016-02-16 14:09] sargken commented on #233
I like doing it my self so I can set the prices. So I said no thanks, I would go set them manually and ill continue to do it. Its called setting up your economy for your server, now you can say your multiplier in the config is there for that but I dont see it that way. Its my opinion no need to attack me over it.

[2016-02-16 14:42] danielstuart14 commented on #240
yeah, you're right. I was going to do that, but I forgot

[2016-02-16 21:02] CanadienFr opened #242 "Separate Money of Ticket with all cop on duty"
I have another suggestion when a cop give a ticket to a player and he pay just separate all the money with the officers on duty or when the cops find drug or contraband stuff in the car or player.

[2016-02-16 21:37] danielstuart14 commented on #232
noop

[2016-02-16 21:37] #232 closed

[2016-02-16 21:38] danielstuart14 commented on #228
Going to reopen after OP gives a RPT log.

Here I can't reproduce it.

[2016-02-16 21:38] #228 closed

[2016-02-16 23:01] magicianaos commented on #240
You can find fn_saveGear.sqf

Line 140

	"pickaxe","fuelEmpty","fuelFull", "spikeStrip", "lockpick", "defuseKit","storageSmall","storageBig","redgull","coffee","waterBottle","apple","peach","tbacon","donuts",
	"rabbit","rabbitRaw","salema","salemaRaw","ornate","ornateRaw","mackerel","mackerelRaw","tuna","tunaRaw","mullet","mulletRaw","catshark","catsharkRaw","turtleSoup","turtleRaw","hen","henRaw"

[2016-02-16 23:21] sargken commented on #240
Or make it an option for servers to choose what they want?

[2016-02-17 02:22] Jawshy commented on #232
@Heavybob, circa 2016.

[2016-02-17 04:20] Jawshy commented on #147
_Bump._

[2016-02-17 05:55] Jawshy opened #247 "SpyGlass: False detection, and Arma 3 crash"
Player was kicked by SpyGlass for accessing the physical 'I' inventory. Trying to reproduce the SpyGlass kick caused _Arma 3_ to crash due to being "Out of memory."

**Snippets of logs**:
###### remoteExec
[code]

###### Client/local.rpt
[code]

[Link to zip file](http://puu.sh/naWiL/23eba41bc3.zip) containing:
- server.rpt
- client/local.rpt
- BattlEye logs
- extDB logs
- Error message screenshot

[2016-02-17 08:38] ColinM9991 commented on #247
The crash is because of the memory leak Tonic forced or introduced with SpyGlass, if it's still implemented.

[2016-02-17 09:00] tkcjesse commented on #247
Use good BEFilters, not spyglass imo...

[2016-02-17 10:06] NiiRoZz commented on #247
Fixed cf909c26ba2e194987bb8749537a1a0f364d1cb0

[2016-02-17 10:06] #247 closed

[2016-02-17 11:35] magicianaos opened #250 "life_fnc_MP Problem"
Since then removing life_fnc_MP. Old script does not work 4.4 life version.
Please tell me what the script cope with life_fnc_MP.

Don't work script
For example
1) `[[player],"TON_fnc_getActions",false,false] spawn life_fnc_mp;`

2) `[[player,"Acts_BoatAttacked01"],"life_fnc_animSync",true,false] spawn life_fnc_MP;`

[2016-02-17 11:57] NiiRoZz commented on #250
It's your script or in the main mission ?

If it's your mission, change life_fnc_mp to remoteexec
spawn life_fnc_MP; = remoteExec
call life_fnc_MP ; = remoteExecCall

[2016-02-17 12:01] magicianaos commented on #250
1) - My life server motion key.

2) - Life server Admin tool Ryan version..

[2016-02-17 12:04] NiiRoZz commented on #250
You need your own change life_fnc_mp to remoteexec look commit when change.

[2016-02-17 12:14] magicianaos commented on #250
Thanks for you help

[2016-02-17 12:17] ColinM9991 opened #251 "[Program] life_fnc_MP -> remoteExec Replacer *Not An Issue*"
Not an issue, and I don't currently have source code as I'm not at my laptop (Pulled this from my own GitHub repo)

Here's a regex based program I made last night to replace life_fnc_MP calls with remoteExec
It works one line at a time so will not work if your life_fnc_MP parameters array is done on multiple lines, it also works recursively so drop it in in a directory at the root level with @life

[2016-02-17 12:26] NiiRoZz commented on #250
#251 Thanks @ColinM9991

[2016-02-17 12:26] #250 closed

[2016-02-17 12:26] NiiRoZz commented on #240
Added : c866f7bf4257bbfadbfbcfbdf65281af7d56375a

[2016-02-17 12:26] #240 closed

[2016-02-17 12:32] clackd1amond commented on #251
Just tried it. Very useful and easy to use. Thank you, Colin!

[2016-02-17 12:35] NiiRoZz commented on #230
If you don't want use cursorTarget so use nearestObject, look animals now use this. OS if you want you can use nearestobjects

[2016-02-17 14:28] Heavybob commented on #242
That sounds like a good idea. Should do the same with impounding too.

[2016-02-17 14:29] Heavybob commented on #161
With my server, I am using a php script to promote people based on time played.

[2016-02-17 14:50] tkcjesse commented on #251
Awesome! Nice to see you around here offering up stuff Colin! Honestly thought you were done with Altis Life!

[2016-02-17 15:25] ColinM9991 commented on #251
I'm glad to see the community taking on the development of Altis Life further, it's only natural to release any content I've worked on.

Let me know if the true/false (etc) calls work in remoteExec for throwing the event over to a client like so

["Params"] remoteExec ["script_name", (owner _cop)]; // <-- Not sure if this works as I no longer have a gaming PC.

[2016-02-17 15:31] NiiRoZz commented on #251
@ColinM9991 Thanks for all your work, you are the best scripter, Thanks for all

NiiRoZz

[2016-02-17 16:44] magicianaos commented on #251
Thanks Colin!!!

[2016-02-17 19:19] sargken commented on #251
You should add this onto the wiki @danielstuart14

[2016-02-17 20:24] NiiRoZz commented on #242
Good Idea but if you give a ticket of 1000 $ and have 10 cop it's very very very ;;;;

[2016-02-17 22:40] danielstuart14 commented on #251
Great! Thx @ColinM9991
I'm going to add @sargken , will just finish the server guide

[2016-02-18 00:52] Heavybob opened #254 "Battle Eye Filters - More Testers"
Hiya guys,

With the additions of more data regarding battle eye filters myself and others who are working around with the new filters are experiencing some really pesky kick reasons. I have been going though and writing down some of them but only with the combined effort of people testing the new filters will it become better.

Shift + P DLC Purchase Menu
Scripts.log:
http://hastebin.com/hodesuwe

[2016-02-18 02:08] Jawshy commented on #254
I will make a pull request patching the BEFilters with these and other fixes momentarily.

[2016-02-18 02:35] Jawshy commented on #254
#255

Create Veh Log:
http://hastebin.com/risefisucu.css

Isn't fixed because `B_Bergen_blk` is already part of an exception. Double check that your [createVehicle.txt](https://github.com/ArmaLife/Altis/blob/master/BEFilters/createVehicle.txt) is up-to-date. It should have `!B_Bergen_` somewhere.

[2016-02-18 04:35] MrHeavyMetal opened #256 "Include this storage system [suggestion]"
http://www.altisliferpg.com/topic/13280-custom-house-inventory-system-replacing-boxes/

I think this is a better system than the boxes, perhaps limit it by number of items

[2016-02-18 05:17] tkcjesse commented on #256
@MrHeavyMetal I had actually brought this up to @danielstuart14 a while back. This was his response: https://i.gyazo.com/488828fd5bdc41774dc127c589127ba4.png   Basically using the Arma UI for inventory is a better solution.

[2016-02-18 05:17] #256 closed

[2016-02-18 08:41] ColinM9991 commented on #251
I'm aware of an issue where it uses true/false in remoteExec from life_fnc_MP

I'm going to update the executable later tonight and replace it on the existing link so it replaces true/false with the corresponding numbers.

If I'm not mistaken, false = execute on server and true = execute on clients

[2016-02-18 11:43] ColinM9991 commented on #242
$2 with 10 cops :stuck_out_tongue_closed_eyes:

[2016-02-18 12:28] Heavybob commented on #254
Will check.

[2016-02-18 15:05] Liam0 commented on #147
![107410_2016-02-18_00010](https://cloud.githubusercontent.com/assets/7563573/13147438/51755fa4-d659-11e5-8779-160a50f3f371.jpg)

Not perfect but it should help a little bit =)

[2016-02-18 18:46] NiiRoZz commented on #242
I think it's a good idea if disable when the tickect < 30000 and after enable auto

[2016-02-18 18:46] CanadienFr commented on #242
Generally a tickets it between 1000 to 50000$ depend on the server. He have no problems with 1000$ = 100$ each cops it good :+1:

[2016-02-18 18:47] CanadienFr commented on #242
@NiiRoZz Yeah it good idea !

[2016-02-18 20:01] devShit commented on #242
$1000(or somemore) per cop, no matter on how much ticket is.(for decrease global money)

[2016-02-18 20:18] Heavybob commented on #254
Scripts.Log:
http://hastebin.com/pacamiyeso.css

[2016-02-18 20:44] NiiRoZz commented on #242
04cf5b20b3742391ca1b442d3ce9a6e6c40c9c77

[2016-02-18 20:44] #242 closed

[2016-02-18 21:12] ColinM9991 commented on #251
Updated executable to use correct remoteExec targets.

Please correct me if I'm wrong as it has been almost 1 year since I last played Altis Life, but false = execute on server while true = execute on all clients

[[],"scriptName",true] call life_fnc_MP

In remoteExec standards the server is 2 while all clients are 0.

Also, I won't actually be supporting the RSERV macro's for remoteExec as the ex

[2016-02-19 04:13] Actione opened #266 "ADAC"
ENG (Google translator);
could you would kick it in OPFOR adac nice not get out the
thank you
mfg
actione_xd

GER
könntest du in OPFOR adac reinmachen wäre nett bekomm das nicht hin
danke
mfg
actione_xd

[2016-02-19 10:47] MrHeavyMetal commented on #233
I think this would make a cool Opt-In feature, Add the ability to have prices Auto-configure for those that want it and leave manual editing as the default, pleases both sides.

[2016-02-19 10:49] MrHeavyMetal commented on #230
This would be cool if it did infact check what was available at the rebel shop to define illegal items but if items had to be added manually then it could be a pain in the ass

[2016-02-19 11:11] clackd1amond opened #267 "[Suggestion] Vehicle store timeout"
Since we save vehicle inventory, it can be abused easily. You can transfer your items from one end of Altis to another by stroring your car to garage, relogging to another town and unimpounding your car there. Fast and safe. My suggestion is to add a timeout for stored vehicle, so when you store it, it will appear in your garage after 15-20 minutes.

[2016-02-19 11:21] NiiRoZz commented on #267
Abusé for what ? All ressource doesn't save in véhicle.

[2016-02-19 11:53] clackd1amond commented on #267
Weapons, for example

[2016-02-19 11:55] NiiRoZz commented on #267
Ok i will put this 10 minutes

[2016-02-19 11:55] clackd1amond commented on #267
Thank you

[2016-02-19 12:04] NiiRoZz commented on #267
4dcbbfd8b1977ac45d7fe2579673c5f82ea67997

[2016-02-19 12:04] #267 closed

[2016-02-19 13:45] sargken commented on #266
So what do you want?

[2016-02-19 15:57] baua1310 commented on #266
He wants you to build in opfor as standard with the function of a roadside assistance, the so called ADAC in Germany. Although there are tutorials, he isn't able to get this working.

[2016-02-19 16:34] numpty9989 opened #271 "Medic Lights"
Medic Lights dont  (cops work fine) work no errors in rpt stock mission file... also great work so far guys

[2016-02-19 16:36] NiiRoZz commented on #271
I Will fix it in 1 hour, just wait this time and it's fixed.

[2016-02-19 16:37] numpty9989 commented on #271
ok cheers

[2016-02-19 16:39] numpty9989 commented on #271
also instead of making a new issue are you able to look at question dealer as i fet this error too https://gyazo.com/7275897304eb0326b275e19b95722873

[2016-02-19 16:41] NiiRoZz commented on #271
I Will check it

[2016-02-19 16:44] numpty9989 commented on #271
and if poss i know im asking a lot on one issue post but cannot capture hideouts (no option) if you have time n cheers for help

[2016-02-19 16:46] NiiRoZz commented on #271
All hideouts ?

[2016-02-19 16:47] numpty9989 commented on #271
just tested hideout 2

[2016-02-19 16:48] numpty9989 commented on #271
am checking others now

[2016-02-19 16:50] numpty9989 commented on #271
all of them
the poles have code butt just dont want to work

[2016-02-19 16:54] numpty9989 commented on #271
nvm bout gang hideouts my bad id just created gang n wouldnt let me take area xD that works

[2016-02-19 16:58] numpty9989 commented on #271
it hadn't synced my gang to DB

[2016-02-19 17:33] magicianaos opened #273 "Vehicle & Boat garage error"
Air garage is working good.

Vehicle & boat garage, stored in garage is work's fine.

But, When I try to take out the car it does not come back to this list.

DB save is work's fine. maybe garage bug exist

p.s I'm using vanilla version

[2016-02-19 17:34] NiiRoZz commented on #273
You use véh save gear ?

[2016-02-19 17:39] magicianaos commented on #273
Yes. my Config_Master.hpp config
save_veh_gear = true;
Is that problem?

[2016-02-19 17:41] NiiRoZz commented on #273
Yes, when you have items in your vehicle you need to wait 20 minutes for the vehicle to be in your garage

[2016-02-19 17:41] #273 closed

[2016-02-19 17:42] NiiRoZz commented on #273
But i will code a message now

[2016-02-19 17:51] magicianaos commented on #273
I got it.

Thanks for your answer. :)

[2016-02-19 18:39] NiiRoZz commented on #273
1f92851e564ab22b9eea27f3e7ac6216748276a3
a6989e6ac71e2d75a476123cfdeafc63f9c08d63

[2016-02-19 18:43] magicianaos commented on #273
Thanks~!!

[2016-02-19 18:46] NiiRoZz commented on #271
For me lights medic work.

[2016-02-19 18:49] numpty9989 commented on #271
hmm ok i know beacons work but the siren lights dnt like the cop car lights

[2016-02-19 18:50] NiiRoZz commented on #271
Fixed sorry : 3df7ea08de24f56bd9cb78fff3abf51517a09953

[2016-02-19 18:50] #271 closed

[2016-02-19 18:52] NiiRoZz commented on #266
For me this feature should not be in main build

[2016-02-19 18:54] numpty9989 opened #274 "Question Dealer not working"
question dealer not working as i get this error too https://gyazo.com/7275897304eb0326b275e19b95722873

[2016-02-19 19:00] NiiRoZz commented on #274
Fixed : 34503036b9184ce56503506dfe7707fca940f5e7

[2016-02-19 19:00] #274 closed

[2016-02-19 21:08] baua1310 commented on #266
@NiiRoZz I go along with you

[2016-02-19 21:33] N1colas62 opened #276 "ExtDB dosn't load."
Hello,

After new MAJ "EDEN" ExtDB can't load from my server with this version 4.4R1
Anyone have this problem ?

[2016-02-19 21:35] Actione commented on #266
could make me one with the data request

[2016-02-19 21:38] NiiRoZz commented on #276
No on my server local don't have this error, i think it's not the MAJ Eden.

[2016-02-19 21:44] numpty9989 commented on #276
works for me check your extdb logs

[2016-02-19 21:59] Heavybob commented on #254
Knockout / Rob Set Variable Kick:
http://hastebin.com/iyokudiwut.coffee

[2016-02-20 00:05] #276 closed

[2016-02-20 17:03] Heavybob commented on #254
Opening a new issue page.

[2016-02-20 17:03] #254 closed

[2016-02-20 17:05] Heavybob opened #282 "Battle Eye Filters - Report Errors."
Storing a Veh in Garage
You were kicked off the game. (BattlEye: Script Restriction #2)
http://hastebin.com/upaqeyaduh.md

[2016-02-20 18:37] midgetgrimm commented on #266
you could make it a config setting with the basis of you MUST add the npc and player units as a serverowner. easy to edit the civ files to include east, but if they want an entire system, then no they should be on their own

[2016-02-20 18:39] #266 closed

[2016-02-20 22:13] DarkSilencerZA commented on #230
Nah - just a general "Seize Items". Doesn't have to be specific. There can be a check when scrolling on a restrained player to remove a weapon. Otherwise anything on the ground can be seized (deleted).

[2016-02-20 22:31] Heavybob commented on #227
Don't merge without testing!

[2016-02-21 02:12] Heavybob opened #294 "Spyglass - Post Errors"
To get Client RPT, Follow this tutorial.
https://www.youtube.com/watch?v=F43TB-GKjGI&feature=youtu.be

[2016-02-21 03:54] Locknlol opened #295 "AltisLife.sql - Database Error"
Error
SQL query:

DELIMITER ; -- -------------------------------------------------------- -- -- Table structure for table `players` -- CREATE TABLE IF NOT EXISTS `players` ( `uid` int(12) NOT NULL AUTO_INCREMENT, `name` varchar(32) NOT NULL, `aliases` text NOT NULL, `playerid` varchar(50) NOT NULL, `cash` int(100) NOT NULL DEFAULT '0', `bankacc` int(100) NOT NULL DEFAULT '0', `coplevel` enum('0','

[2016-02-21 04:52] Heavybob commented on #295
You are clearly not importing the database properly...

[2016-02-21 04:57] sargken commented on #295
Line 177 of sql file needs to be updated to CREATE TABLE IF NOT EXISTS `wanted` (

[2016-02-21 05:10] Locknlol commented on #295
@sargken Same error persists.

[2016-02-21 05:12] Locknlol commented on #295
@Heavybob Doing it the same way I installed 4.3 and that worked just fine.

[2016-02-21 13:54] N1colas62 commented on #295
Same here, i'm in MySQL 5.6

[2016-02-21 15:28] MrHeavyMetal opened #299 "Custom jail times [suggestion]"
Would it be possible to have an option to set custom jail time length, there is a tutorial here for 3.1.4.8 but i think it would make an awesome default feature

http://www.altisliferpg.com/topic/7702-howto-set-jail-time-3148-extdb/

[2016-02-21 15:54] danielstuart14 commented on #299
You're goddamn right!

[2016-02-21 15:55] danielstuart14 commented on #295
Try it now, after @NiiRoZz's commit: 6d01da9d2334c373b5297bd94ef1b2b757ac3e08

[2016-02-21 15:56] #295 closed

[2016-02-21 17:19] CanadienFr commented on #299
Yeah this is good suggestion

[2016-02-21 17:45] Heavybob commented on #294
https://github.com/ArmaLife/Altis/pull/300

[2016-02-21 18:30] Angrygargamel commented on #266
c'mon guys... this is LIFE... we have cops and medics... why shouldnt we have a technical service too?
also this is the most requested stuff from people i know... and by far not the easiest to achieve...

if this could be implemented by default and with an on/off option in the cfg
or better said: if you add the playercharacters of the side east you have them... if not then not...

[2016-02-21 19:00] danielstuart14 commented on #266
it's possible, but it isn't a feature that we're going to add in the next commits...
The problem is that, these sided sides (he he he), like medics, isn't used most of the time... No one wants to cross the whole map just for reviving someone.

[2016-02-21 22:19] sargken commented on #295
You can thank me ;)

[2016-02-22 06:41] clackd1amond commented on #299
#302

[2016-02-22 09:06] magicianaos opened #303 "[Question] Eden editor issue"
Use Eden edtior, my modified life missions file.

But can not anymore read mission file.

Anymore it does not support old mission files from Eden?

[2016-02-22 09:07] magicianaos commented on #299
Goooood suggestion~!

[2016-02-22 14:01] Kimax89 commented on #303
AltisLife is not supported with the new mission format in the Eden Update.

If you wish to modify the mission file, you can still use the old 2D editor.

[2016-02-22 14:04] Kimax89 commented on #299
add it as a variable to Config_Master.hpp

[2016-02-22 14:24] MrHeavyMetal commented on #303
I have not had an issue updating the mission file to the Eden Editor, also is there any plans to support the Eden Editor by default?

If i remember correctly the original editor is getting fazed out in a later update

[2016-02-22 14:32] NiiRoZz commented on #303
I check for update the file to eden editor but i ahve error when i load mission in server when i have converted to Eden Format, if issue persist i will post a feedback to Bohemia

[2016-02-22 14:34] MrHeavyMetal commented on #303
It sounds like an issue for Bohemia, I have updated the mission to the new format with no problem, Mind i did it with a fresh mission, if yours has custom scripting that could be why

[2016-02-22 14:44] Kimax89 opened #304 "Cant pickup money"
Its not possible to pickup money from the ground.

I tapped the windows-key many times when looking at the money and it dosnt pick them up.

[2016-02-22 15:33] magicianaos commented on #303
@NiiRoZz  Thanks for answer :)

[2016-02-22 15:49] NiiRoZz commented on #303
@MrHeavyMetal I use this build but it's not the converting it's when i launch my server i have an error

[2016-02-22 18:10] dardothemaster opened #309 "Opfor as rebels? [Suggestion]"
Hello,do you think it would be a good idea to separate rebels from civilians, or you think it would be useless with no real benefits?

[2016-02-22 18:32] dardothemaster commented on #304
It's windows + T.

[2016-02-22 21:01] OfficialNoms commented on #303
Hi guys,

In order to import Altis Life into the 3DEN editor, you search for and correct any markers that have the same variable name as other markers. In the latest version, car1_1 existed twice, and I believe there may have been a couple of others. I fixed these issues, as well as removed any spaces from variable names, and the mission imported correctly into the new 3D editor.

I will be submit

[2016-02-22 21:04] OfficialNoms commented on #304
Usually using a shift + t and then windows key will work in 99.9% of cases.

[2016-02-22 21:13] danielstuart14 commented on #303
Already fixed, but thank you all...
https://github.com/ArmaLife/Altis/commit/5cf6f37d4ab060abe246f6e67521136b09d97aa7

[2016-02-22 21:21] DarkSilencerZA opened #314 "Cops: Crushing a vehicle (removes from DB) [Suggestion]"
As the title says - an option added for cops to be able to both crush and impound. Impound obviously means sent to garage (which we have) and then the crush option would delete the vehicle from the db.

[2016-02-22 21:23] DarkSilencerZA opened #315 "Vehicle claiming [Suggestion]"
Used at the chop shop - you have the option to either chop or claim. Claim obviously would then change ownership to the person who claimed it (but shows stolen and the original owners name when checking the registration).

[2016-02-22 21:39] NiiRoZz commented on #303
@OfficialNoms if you can put here your modified .sqm please, thanks you so much.

[2016-02-22 22:01] danielstuart14 commented on #309
for now, east will stay disabled.

[2016-02-22 22:01] #309 closed

[2016-02-22 22:30] dardothemaster commented on #315
Something like this? http://pastebin.com/6btiwq1M

[2016-02-23 11:50] MrHeavyMetal commented on #314
I love this suggestion

[2016-02-23 11:56] MrHeavyMetal opened #320 "Config option to enable illegal item saving in vehicles [suggestion]"
Basically add the ability to enable illegal items (coke, weapons etc) to be saved in vehicles inventory the same way normal items are

[2016-02-23 12:23] NiiRoZz commented on #320
For  weapon already illégal save, but for y items go to véhicle store in life server and you have any array resourceitems, put items you don't want to save it inside

[2016-02-23 14:17] sargken commented on #304
This doesn't fix the issue, it's relevant and should pursue a different way in handling the pickup action. Maybe addaction or keep windows hey but do it by the distance instead of cursortarget

[2016-02-23 15:45] ColinM9991 opened #322 "Macro Removal - Assistant Program Idea"
So it's no surprise that the macros in Altis Life now are completely useless, pointless and unnecessary - which is kind of Tonic's trademark.

I'm thinking of creating another regex program to replace all macros with their original code, or do it manually because having SEL as a macro is a waste of time when the _this select function has never changed in the entirety of ArmA's lifetime.

How would

[2016-02-23 15:46] MrHeavyMetal opened #323 "Config for Keys given to people being consistant [suggestion]"
Basically if i give a car key to a friend that key should then stay with him until he chooses to drop it, and should stay through server restarts etc

[2016-02-23 15:56] silvercn opened #324 "Weed can be processed without buying the License"
Not sure if cocaine is also affected but i think yes.
Grab some weed and go to the processor and just process it without buying the license.
Found this as i added some items

Looks like something is wrong in processAction.sqf

if (_exit) exitWith {life_is_processing = false;hint localize "STR_NOTF_NotEnoughItemProcess";};

if(_vendor in [mari_processor,coke_processor,heroin_processor,lsd_processor

[2016-02-23 15:57] silvercn commented on #323
Nice idea, like it :)

[2016-02-23 16:19] sargken commented on #322
I think its a waste of time because it works fine right now why change it. It also condenses code so i like it

[2016-02-23 16:32] DarkSilencerZA commented on #324
It can be, yes, but then you either make the time that it takes like 10x longer OR you make it a shit ton more expensive. Problem solved :+1:

[2016-02-23 16:36] Liam0 opened #325 "Whats going on here guys"
![untitled](https://cloud.githubusercontent.com/assets/7563573/13258511/b9a0f31a-da53-11e5-823d-9dc05c3315d3.jpg)

im not sure if its causing any issues but this seem a bit random, is it intended?

[2016-02-23 16:58] ColinM9991 commented on #322
It condenses code, but simply put it's horrible.

Altis Life is supposed to be a community based project which this repository portrays an image of, yet the macros being used are confusing to look at when they're macros that call other macros within another macro, this being said while my occupation is Software Developer - so imagine what somebody less experienced, and interested in contributing,

[2016-02-23 17:01] #324 closed

[2016-02-23 17:02] dardothemaster commented on #325
They should not be causing any issue,just ignore them,as probably mysql does.

[2016-02-23 17:03] NiiRoZz commented on #325
If causing no issue i think MresToArray and MresArray don't need anymore

[2016-02-23 17:05] dardothemaster commented on #322
Personally i think that macros could be useful,as often they are replacing long lines (Except for the gvar,svar,etc),take as example the one named 'LIFE_SETTINGS',which allows to take data from the main config file using only a short command

[2016-02-23 17:06] baua1310 commented on #322
i think @ColinM9991 's idea to remove the macros  is very godd and should have been done as fast as possible

[2016-02-23 17:14] ColinM9991 commented on #322
Replying from my mobile currently

The long lines will have macros like classic altis life, but is there
really any need for "EQUAL"? Macros are useful when code is subject to
change, isEqualTo has never changed in the entirety of ArmA.

My suggested changes will only remove macros like SEL, EQUAL, EXTDB etc -
the primarily pointless ones, any shorteners will be turned in to functions
as they righ

[2016-02-23 21:44] DarkSilencerZA commented on #315
All working - will do pull request as soon as my github stops being full of shit and @danielstuart14 helps me fix it :D

[2016-02-23 21:45] DarkSilencerZA commented on #314
All working - will do pull request as soon as my github stops being full of shit and @danielstuart14 helps me fix it :D

[2016-02-23 22:59] tkcjesse commented on #325
Its mresarray

[2016-02-24 00:05] Liam0 commented on #325
Yeah so far haven't noticed any problems

[2016-02-24 00:24] CamaroZ opened #328 "Cleanup BUG, RPT LOG"
After 2 or more players disconnect, the cleanup script default of Altis Life, spam these error's in RPT.

All RPT Log:
http://pastebin.com/zWu0bG8X

Server: Object 3:3 not found (message Type_119)
Server: Object 3:3 not found (message Type_91)
Warning: Cleanup player - person 2:1214 not found
Warning: Cleanup player - person 2:4 not found
Client: Local object 2:1217 not found
Server: Object info 2

[2016-02-24 00:43] danielstuart14 commented on #325
that's an bug, and it'll fucks the saving gear system if enabled...

[2016-02-24 00:57] danielstuart14 commented on #328
Seems like one of your players is returning null...
Hmmm...

(hu3hu3) ;)

[2016-02-24 00:59] danielstuart14 commented on #322
some of them are pretty useless, and I don't even use them...
But, some like FETCH_CONFIG, LICENSE_VARNAME, etc are very useful...

[2016-02-24 01:20] CamaroZ commented on #328
Como eu vejo isso veio?

[2016-02-24 01:24] CamaroZ commented on #328
Então eu tentei, rodar denovo com a missão padrão depois de logar e deslogar umas 9 vezes começa o erro.

[2016-02-24 01:45] #328 closed

[2016-02-24 04:32] Heavybob opened #329 "Server Crash Exploit - Keys"
Holding the unlock / lock button over a long period of time or with multiple buddy can overload a server and crash it. Overtime logs can fill HDD / SDD and affects performance for all clients.

Just a fun fact that has existed for a long time. Suggest a timeout or antispam feature.

[2016-02-24 06:07] Heavybob commented on #325
Confirmed, it has fucked the gear saving system.

[2016-02-24 06:09] Heavybob commented on #323
What happens if someone steals / lockpicks the car?

[2016-02-24 06:20] ColinM9991 commented on #322
I'll go through the macro file this weekend and remove the useless stuff
that only adds confusion, I'll update both mission and life_server and
propose the changes to see what people think.

Config fetching macros will be alright since they serve a purpose, but no
matter how I look at it - SEL will never serve a purpose and only waste
time debugging when importing previous version releases/content

[2016-02-24 06:23] clackd1amond commented on #329
I did a pull-request some time ago, but it was rejected

[2016-02-24 07:40] Heavybob commented on #314
Cops can blow up cars. Isn't that the same thing?

[2016-02-24 08:46] ColinM9991 commented on #329
Reference your pull request for me clackd, I'll take a look.

[2016-02-24 10:57] Jawshy commented on #314
@Heavybob, same result; different execution.

[2016-02-24 11:08] MrHeavyMetal commented on #323
Perhaps put a check in to see if the key was given or stolen? perhaps just do if for houses?

[2016-02-24 11:09] Jawshy commented on #324
All drugs - cocaine, weed, and heroin - can be processed without the respective processing licence. As @DarkSilencerZA mentioned, the processing time is significantly increased and there is also a tax for each unit that is processed.

[2016-02-24 11:12] Jawshy commented on #320
Altis/life_server/Functions/Systems/[fn_vehicleStore.sqf, line 14](https://github.com/ArmaLife/Altis/blob/master/life_server/Functions/Systems/fn_vehicleStore.sqf#L14):
[code]

[2016-02-24 11:29] #320 closed

[2016-02-24 13:47] Jawshy commented on #329
@Heavybob, how long exactly? I spammed `U` (unlock/lock) with several vehicles, multiple times, and for several minutes without issue. Server performance and stability seemed fine, and there were no flooded log entries at all.

[2016-02-24 13:59] Jawshy opened #334 "Pickaxe is not useable"
The Pickaxe is not usable and therefore no resources can be mined.

No .rpt log errors.

Game version: 1.56.134627
Mission version: v4.4r1 - latest commit: 1fc22b43a2f559f32f03a7e6dc65f541e6fbc30d

[2016-02-24 14:00] NiiRoZz commented on #334
You need directly use Windows key Now.

[2016-02-24 14:00] #334 closed

[2016-02-24 14:08] tkcjesse commented on #328
From what ive read on the bi forums this is common rpt spam and is okay...

[2016-02-24 15:38] DarkSilencerZA commented on #314
@Heavybob How? Shooting it? Dropping it from a chopper?

[2016-02-24 19:27] Heavybob commented on #329
Do it with 10 people. It does have an effect.
Check scripts.log or whatever log it is. It will add data over a period of time.

[2016-02-24 22:42] Heavybob commented on #314
However you want to destroy the car, it can be creative fun for police.

[2016-02-24 23:01] danielstuart14 commented on #323
Maybe, we can attach the keys to the player inv. If player dies, he looses all his keys. And it would be dropped in the ground.

Also, add an option in garage, to change keys.

[2016-02-24 23:08] Heavybob commented on #323
I can only see people getting angry after they die. Loosing a veh and not being able to nlr to get it back.

[2016-02-24 23:11] danielstuart14 commented on #323
that's only for non-owners

[2016-02-25 06:02] clackd1amond commented on #329
@ColinM9991 That helped me: https://github.com/danielstuart14/Altis-Life/commit/728b670b3f868c491dc86d0ea3450161bb34abdb and https://github.com/danielstuart14/Altis-Life/commit/c4bed5e87ec3a007ffb890aa1d8298a3e86a9f34

[2016-02-25 07:56] magicianaos commented on #251
My life server used motion script.

For example

[[player,"Acts_BoatAttacked01"],"life_fnc_animSync",true,false] spawn life_fnc_MP;

But life_fnc_MP is not support current version.

How can I change this script? help :(

[2016-02-25 08:56] ColinM9991 commented on #251
Have you even read this post, or are you just wasting time waiting for somebody to do the work for you?

[2016-02-25 09:50] magicianaos commented on #251
Sorry about that.

But, I can't use well script.
I want to learn script.

Even I do not speak English well. I live in S.Korean
But I will try.

Thanks for aswer Colin.

[2016-02-25 10:07] magicianaos commented on #251
Sorry about that.

But, I can't use well script.
 I want to learn script.

Even I do not speak English well. I live in S.Korean
 But I will try.

Thanks for aswer Colin.

[2016-02-25 11:16] Heavybob commented on #329
How to crash the server with keys:

[2016-02-25 12:40] MrHeavyMetal commented on #323
If the keys stayed after death if you are the original owner then i love the idea

[2016-02-25 23:14] Heavybob commented on #323
Someone mentioned this to me on my server. When you knock someone out, it should surrender the keys. owned.

[2016-02-26 06:36] dardothemaster opened #342 "Moving Drug Dealer"
Hello,in my opinion the three drug dealers(Npcs) should be removed until only one remains.In fact it would be nice to set some waypoints and give him a vehicle so he can move through the markers. The cool thing is that player won't be able to know where actually the dealer is.

[2016-02-26 11:22] healthstr commented on #342
That would be cool or you could ask an npc at a bar or something to get the location of the drug dealer, this would allow the drug dealer to move to different location.

[2016-02-26 11:33] healthstr commented on #303
any help update on this :)

[2016-02-26 13:16] dardothemaster commented on #342
Yes nice idea! I was thinking even about random path,so it wont be predictable

[2016-02-27 01:01] goatboynz commented on #342
ill post up my script for this when i get home works a treat. Ya set ya way points on map then the guy will walk or drive around. I have him set up for a black market atm but you can use him for anything.

[2016-02-27 21:20] HyunsukBaek commented on #299
we really wanna this suggestion.
hell yeah.

[2016-02-27 21:56] HyunsukBaek commented on #304
I HAVE THIS ISSUE TOO, v4.4 still happens.

[2016-02-28 03:09] healthstr opened #353 "Garage Issue"
Don't know if its just me but I have rebuilt this mission three or four times now from default and it seems that vehicles can be stored, but when searching the data for vehicles it just stays on this screen.

[2016-02-28 03:41] #353 closed

[2016-02-28 08:49] Jawshy opened #355 "Error in expression - fn_questionDealer"
The following appears in the client/local.rpt file when a police officer questions a drug dealer.

[code]

The dialogue box will not display who has sold to the drug dealer recently, but any players whom have will show on the wanted list and in the database.
![](http://puu.sh/noi7Y/4d8ac427a4.png)

Relevant file(s): Altis/Altis_Life.Altis/core/cop/[fn_questionDealer.sqf](https://github.com/ArmaLif

[2016-02-28 11:15] numpty9989 opened #356 "no really an issue but a queston"
can life_server and hc run concurrently or one at a time
i e. in startup params
mod= @life_server;@life_hc;@extdb2
or @life_server;@extdb2
or @life_hc;@extdb2

cheers which one shud i use as neva used hc b4

[2016-02-28 12:32] Jawshy opened #357 "Vehicle Shop Preview Menu - Potential Log Spam Abuse"
It is easily possible to spam the local/client.rpt, and createVehicle and remoteExec BattlEye logs by rapidly switching between vehicles in the vehicle shop 3D preview menu.

Doing this with any vehicle will spam entries similar to `21:48:59 Ref to nonnetwork object 6a348100# 1780952: quadbike_01_f.p3d` in the local/client.rpt log. Doing this with vehicles that contain parachutes in their inventor

[2016-02-28 16:02] danielstuart14 commented on #356
nope, life_server uses arma3server executable.
While life_hc uses arma3 client executable.

[2016-02-28 16:02] #356 closed

[2016-02-29 00:19] #282 closed

[2016-02-29 00:22] Heavybob commented on #357
Verified.

[2016-02-29 14:49] danielstuart14 commented on #355
should fix https://github.com/ArmaLife/Altis/commit/2c21fabfba19ed0bb5a794d589e41cd01c04ad7b

[2016-02-29 14:50] danielstuart14 commented on #342
That's something server admins should add... Isn't a good thing for framework

[2016-02-29 14:50] #342 closed

[2016-02-29 14:51] #329 closed

[2016-02-29 14:51] danielstuart14 commented on #329
Will add a timer

[2016-02-29 19:14] danielstuart14 commented on #325
should be fixed now. Thx @Liam0

[2016-02-29 19:14] #325 closed

[2016-02-29 19:15] #294 closed

[2016-02-29 20:22] torchgodz opened #361 "Adding Housing with Eden editor"
With the release of the new Ed3n editor server owners are now able to put in houses where ever they want.  Which is great and easy for them to put in new housing for there player. But i have tried this and you can add it and on the first restart you can buy they house and everything just like normal until the server restarts then the house is back up for sale you have to buy it all over again. Is

[2016-02-29 20:27] MrHeavyMetal commented on #361
The problem is also if you disconnect and reconnect to the server, i have the same issue except you cant rebuy the house but cant use it or access it either

[2016-02-29 20:49] baua1310 commented on #361
I made a [tutorial](https://www.global-gamer.com/home/wbb/index.php/Thread/4572-Tuturial-Selbst-gesetzte-H%C3%A4user-zu-Housing-hinzuf%C3%BCgen/) on a german Gaming Board about how to add mapped houses to the housing system correctly. The only thing is that these aren't placed in the mission but in the init.sqf of the server.

[2016-03-01 22:07] TravisPrice commented on #230
http://www.altisliferpg.com/topic/13539-tutorial-seize-weapons-script/

[2016-03-02 10:13] Jawshy opened #365 "Player markers (admin menu) can't be disabled"
Player markers enabled in the admin menu cannot be disabled. Nothing happens when clicking the "Markers" button again. No errors in any log file.

Relevant file(s): Altis/Altis_Life.Altis/core/admin/[fn_adminMarkers.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/admin/fn_adminMarkers.sqf)

Game version: 1.56.134627
Mission version: v4.4r1 - latest commit: 201f526972d789ca

[2016-03-02 15:26] Kimax89 opened #366 "Tear gas suggestion"
@Jawshy and i was chatting about tear gas for the cops.

Our suggestion is following.

Give cops (Sergient) the option to buy a grenade launcher for the MXC rifle and buy red smoke shells.
The red smoke will then act as tear gas by bluring the vision and halving the stamina.
The duration of this effect should be about 30 seconds.

[2016-03-02 16:08] MrHeavyMetal commented on #366
that is a pretty cool suggestion

[2016-03-02 16:35] HyunsukBaek commented on #365
i have this issues too, when A user already disconnected, but market has not disabled.

[2016-03-02 16:36] HyunsukBaek commented on #304
i tried window + T and then it works well. sorry

[2016-03-02 17:07] Liam0 commented on #366
Only addition i have is yellowsmoke would make more sense :)

[2016-03-02 18:16] Kimax89 commented on #366
Yellow smoke sounds alot better. :smile:

[2016-03-02 19:46] HyunsukBaek opened #367 "some files not found error logs."
Unexpected message data (message struct NetworkMessageRunInitSitesScript, item site)
Before (0x00000000): 00 00 00 00 03 03 fc 02 43 01 d6 23
Current (0x0000000c):
Starting mission:
 Mission file: Altis_Life
 Mission world: Altis
 Mission directory: mpmissions\Altis_Life.Altis\
Attempt to override final function - bis_functions_list
Attempt to override final function - bis_functions_listpreinit
At

[2016-03-02 19:48] HyunsukBaek commented on #303
@OfficialNoms im also wating ur file  :) thx

[2016-03-02 20:09] NiiRoZz commented on #367
No !

[2016-03-02 20:09] #367 closed

[2016-03-02 21:30] #304 closed

[2016-03-03 05:07] Jawshy commented on #366
The tear gas script could be a modified version of one of the scripts on this [Bohemia Forum thread](https://forums.bistudio.com/topic/180844-teargas-toxic-gas-script-help/). [This one](https://forums.bistudio.com/topic/180844-teargas-toxic-gas-script-help/?p=2850713) may be the most stable.

[2016-03-03 05:58] #315 closed

[2016-03-03 05:58] #314 closed

[2016-03-03 18:49] HyunsukBaek commented on #240
@magicianaos  e662b78

I confused about "_" <-- this characters.
According to lastest version of files,
there are defined "turtle_raw" as class name included "_" in Config_vItems.hpp.
and save_veh_items[] in Config_Master.hpp also used as class name for each y items.

which name do you use ?

[2016-03-03 20:38] HyunsukBaek opened #371 "virtual item can't save DB -"
when i put the y items to trunk and then store vehicles,  y items successfully saved at database before ff82f18636fa8919c031fb1eb6a70ca4c7917d68  applied my repository

but i applied patches after ff82f18636fa8919c031fb1eb6a70ca4c7917d68,
it's not working.
plz confirm that merged after ff82f18636fa8919c031fb1eb6a70ca4c7917d68

[2016-03-03 20:39] danielstuart14 commented on #371
it isn't related to this commit... Should be other.
Are you getting any RPT Error?

[2016-03-03 20:43] HyunsukBaek commented on #371
hmm. this is not logs about this issue, i guess,

but  abnormal logs are :

soldier[B_diver_F]:Some of magazines weren't stored in soldier Vest or Uniform?

c:\w\stable\futura\lib\network\networkserver.cpp NetworkServer::OnClientStateChanged:NOT IMPLEMENTED - briefing!

c:\w\stable\futura\lib\network\networkserver.cpp ClearNetServer:NOT IMPLEMENTED - briefing!

and lots of Error: Object(2 : xx) no

[2016-03-03 20:44] danielstuart14 commented on #371
Do you know if inventory is being saved? (vehicle Inventory)

[2016-03-03 20:45] HyunsukBaek commented on #371
i didnt check inventory saving yet. i will try it now.

[2016-03-03 21:03] HyunsukBaek commented on #371
i item is working well. gun and nv goggles in vehicle.

when i put the y item to trunk, y item save at database, but,
run store vehicle in garage,  then  erased it

[2016-03-03 21:34] Liam0 commented on #371
Yeah im just quadruple checking again =)

[2016-03-03 21:37] Nesias opened #372 "flawed call of fnc_asyncCall in fn_spawnVehicle (server)"
In [fn_spawnVehicle.sqf](https://github.com/ArmaLife/Altis/blob/master/life_server/Functions/Systems/fn_spawnVehicle.sqf) at line 75 the following code can be found:
`[_query,false] spawn DB_fnc_asyncCall;`

This will create an error message in rpt (but will work, because param safeguard).

Code should be:
`[_query,1] spawn DB_fnc_asyncCall;`

[2016-03-03 21:42] danielstuart14 commented on #372
thx https://github.com/ArmaLife/Altis/commit/6bae45b4d2aa2d61f07677bc815b2d16d637d8cf

[2016-03-03 21:42] #372 closed

[2016-03-03 22:27] danielstuart14 commented on #361
eden isn't support, until the next arma update

[2016-03-03 22:27] #361 closed

[2016-03-03 22:54] Nesias opened #373 "possible obsolete code in /life_server/init.sqf"
In [/life_server/init.sqf](https://github.com/ArmaLife/Altis/blob/master/life_server/init.sqf) at line 133 to 135.
Code:
`_logic = missionnamespace getvariable ["bis_functions_mainscope",objnull];`
`_queue = _logic getvariable "BIS_fnc_MP_queue";`
`_logic setVariable["BIS_fnc_MP_queue",[],TRUE];`

These lines should be obsolete since the (Arma internal) change form scripted BIS_fnc_MP* to enigne b

[2016-03-04 00:25] Liam0 commented on #371
@HyunsukBaek would you please check out https://github.com/ArmaLife/Altis/pull/376 and confirm if its working thank you =)

[2016-03-04 03:10] Jawshy commented on #147
@Liam0, think you could make it perfect? :)

![](http://puu.sh/nu39X/779e5e98ce.jpg)

[2016-03-04 08:13] trinitynet commented on #322
i agree with @ColinM9991 when I'm playing with the code ESPECIALLY in debug i don't have those macros and just makes it a pain... but some macros are useful

[2016-03-04 11:59] trinitynet opened #378 "Error Storing Veh (Using HC)"
[11:56:55:434083 +01:00] [Thread 5480] extDB2: SQL_RAW_V2: Error StatementException: SQL: INSERT INTO vehicles (side, classname, type, pid, alive, active, inventory, color, plate, gear) VALUES ('cop', 'B_Heli_Light_01_F', 'Air', '76561198025563965', '1','1','"[[],0]"', '0', '577368','"[]"')
[11:56:55:434110 +01:00] [Thread 5480] extDB2: SQL_RAW_V2: Error StatementException: MySQL: [MySQL]: [Commen

[2016-03-04 13:33] Liam0 commented on #378
Here this should fix it for you https://github.com/Liam0/Altis/commit/7d531cb3dd37b78b9e9c85a4cf66099ea3df0ada

[2016-03-04 13:53] trinitynet commented on #378
@Liam0 worked like a charm, well done on the repo guys good job (loving the HC) :)

will report any more issues

[2016-03-04 14:17] Nesias commented on #303
i had the same problem, so far i can confirm that it is a result of an wrong named marker (car1_1 exist twice), after fixing that every thing worked fine

[2016-03-04 14:22] #378 closed

[2016-03-04 14:28] HyunsukBaek commented on #371
Error in expression <VariableClient "life_garage_store";
};

+
if(getNumber(missionConfigFile >> "Lif>
  Error position: <+
if(getNumber(missionConfigFile >> "Lif>
  Error +: Type if, expected Number,Array,Not a Number
File life_server\Functions\Systems\fn_vehicleStore.sqf, line 76

@Liam0   IT'S NOT WORKING AND ERROR OCCURS

i patched f323251 and ea5ae17.    and then , not only y-item can't savin

[2016-03-04 14:34] Liam0 commented on #371
make sure you didn't paste a "+" from github by mistake in vehiclestore.sqf

[2016-03-04 15:26] Nesias opened #379 "rpt spam caused by in fn_insertVehicle.sqf (and fn_vehicleStore)"
_**This Error is observed with release 4.4r1 but should still be present.**_
When you buy a vehicle and it got created, fn_insertVehicle will insert an emtpy Array into the gear column of vehicles table. Which will persist even if you store the vehicle in garage (if gear saving in vehicle is disabled).

This will result in an server.rpt spam every time someone retrieves a vehicle from garage.
This

[2016-03-04 15:37] Liam0 commented on #379
Hey @Nesias would you please check it with https://github.com/ArmaLife/Altis/pull/376

[2016-03-04 15:54] Nesias commented on #379
@Liam0 even with #376 that the error cause is still present.

[fn_insertVehicle line 23](https://github.com/ArmaLife/Altis/pull/376/files?diff=unified#diff-7c40f91062ef63878e0ec8a672171d07R23) should be:
`_query = format["INSERT INTO vehicles (side, classname, type, pid, alive, active, inventory, color, plate, gear, damage) VALUES ('%1', '%2', '%3', '%4', '1','1','""[[],0]""', '%5', '%6','""[[[],[

[2016-03-04 15:55] Liam0 commented on #379
It should never be set to "[[[],[]],[[],[]],[[],[]],[[],[]]]" which error are you referring to

[2016-03-04 16:01] HyunsukBaek opened #380 "phone bug : inventory display can not refresh immediately"
when i drop an y-item in phone -> player menu inventory, it's not refresh immediately.
when i go into same menu again, and then i can  check removed an y item.

display cannot refresh at one time.

[2016-03-04 16:04] Nesias commented on #379
What im referring to is that you will get an error message as long as you don't allow gear saving for vehicles (arma gear not virtual) caused by an empty array in vehicles table (column gear) becaused that array will be retrieved as array (and not as string).

If you store a vehicle with gear saving (vehicles) enabled and there is no gear in that vehicle you will find  "[[[],[]],[[],[]],[[],[]],[[

[2016-03-04 16:37] Liam0 commented on #379
Post rpt please

this is not the only place we use "[]" as default strings in the database for arrays basically anywhere we save array's to the database we do the exact same thing without problems.

When we pull it out of the database it woulden't make a difference saving it as "[[[],[]],[[],[]],[[],[]],[[],[]]]" or "[]"  unless when we actually need to use it.

Also you shoulden't even be having

[2016-03-04 17:23] Nesias commented on #379
relevant part of rpt:
--
2016/03/04, 15:38:58 "------------- Client Query Request -------------"
2016/03/04, 15:38:58 "QUERY: SELECT id, side, classname, type, pid, alive, active, plate, color, inventory, gear, fuel FROM vehicles WHERE id='2' AND pid='76561197977300507'"
2016/03/04, 15:38:58 "Time to complete: 0 (in seconds)"
2016/03/04, 15:38:58 "Result: [2,"civ","C_Offroad_01_F","Car","765611979

[2016-03-04 17:38] #373 closed

[2016-03-04 17:58] Liam0 commented on #379
i'll check it out later. but if u use the latest changes u shoulden't have any problems with database consistency.

[2016-03-04 19:21] Liam0 commented on #379
i've just tried to change "spawnvehicle, vehicleCreate,vehicleStore,vehicleUpdate" to use params but i can't replicate this error im afraid.

[2016-03-04 19:31] HyunsukBaek commented on #371
oh..

[2016-03-04 20:36] DiabolicaTrix commented on #303
I made a pull request to correct this little bug.

[2016-03-04 22:07] Nesias commented on #379
did you set save vehicle gear to false ?

[2016-03-04 22:17] Liam0 commented on #379
i tried with everything false and everything true

[2016-03-04 22:18] Liam0 commented on #371
Thanks @HyunsukBaek

[2016-03-04 22:18] #371 closed

[2016-03-04 22:20] Nesias commented on #379
did you changed fn_mrestoArray to?

[2016-03-04 22:29] Liam0 commented on #379
Yeah just tried. still not getting any errors i can send you the file's if u want. just throw me a message on gitter but closing this for now.

[2016-03-04 22:29] #379 closed

[2016-03-04 22:39] HyunsukBaek opened #384 "zero division error"
Error position: <select 3;
if(_half) then
{
[((_amount) />
  Error Zero divisor
File life_server\Functions\WantedSystem\fn_wantedBounty.sqf, line 23
Error in expression <ult != 0) then
{
_amount = _queryResult select 3;

it should be check before division of zero

[2016-03-04 22:40] Nesias commented on #379
okay thats random.. o.O will try with different server on my side first, but thanks (maybe keep something like this in mind when you change from fnc_param to param )

[2016-03-04 23:39] TravisPrice commented on #380
Yah, The phone was never finish needed to be reworked but @danielstuart14 is working on one as I am working on other projects contains some neat stuff which is coming soon. But I will fix it and add a new pull request so those who have it now can update it

[2016-03-05 02:34] #380 closed

[2016-03-05 02:43] Jawshy commented on #303
For reference: pull request was #382

/closed

[2016-03-05 02:43] #303 closed

[2016-03-05 02:46] danielstuart14 commented on #384
https://github.com/ArmaLife/Altis/commit/d62410ebeec4ef748346d30a93e238d6b6399c11

[2016-03-05 02:46] #384 closed

[2016-03-05 02:56] danielstuart14 commented on #365
hmmmmm, that's weird... I'll take a look on it, but, even the hint doesn't show up?

[2016-03-05 03:02] Jawshy commented on #365
Correct, even the [STR_ANOTF_MDisabled](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/stringtable.xml#L468) hint does not show.

[2016-03-05 05:08] KingRizla opened #387 "New Player Menu!"
Please Guys for the love of all good things, please remove the new menu and use the old one again, not only are the new menu really ugly (no offence travis) but it is also buggy, numbers are not updating correctly and the interface is not that smart again, all players can see the admin tab and more, the only thing i can say about the new menu that i (and the rest of our server) thinks are sweet is

[2016-03-05 06:13] Jawshy commented on #387
As this is a development repository for Alits Life RPG new features and changes are constantly being introduced and they may break other features, be broken, or unfinished.

The new phone system needs refinement, yes, but allow sometime for it to be updated and let us know if it should be kept, reverted, or make optional.

[2016-03-05 06:32] Jawshy commented on #355
@danielstuart14, the commit did not fully fix the issue. There are no longer any .rpt error messages, however the dialogue box still does not display a list of players who have recently sold to the drug dealer. Furthermore, the any players who sold to the dealer are placed on the wanted list for drug trafficking but with a bounty of $0.

[2016-03-05 06:49] KingRizla commented on #387
i would say, let it be optional, so one can choose either to have the old layout or the new,

this would make it easy for the server owners also, because allready we have had over 20 complaints about the new layout, everything from, it not updating correctly, to its a ingame advertizement for apple, and so far only 2 people from our server have been happy about the change.

i do understand that in

[2016-03-05 07:45] Jawshy commented on #329
Doing this with house doors (house must be owned) causes entries similar to the following to be spammed in the setvariable.log file.
`05.03.2016 17:33:26: playerName (10.0.0.7:2316) 12345678901234567890123456789012 - #0 "bis_disabled_door_2" = 1 1:-1241268879`

[2016-03-05 12:33] trinitynet opened #388 "life_action_inUse Impound Delay [With HC]"
hey guys,

life_action_inUse is not being set false till some time after impounding a vehicle 30 - 60 sec's which is stopping players from being able to do anything for some time after.

No errors in the Clinet,Server,HC RPT Files

[2016-03-05 16:59] sargken commented on #387
It should be optional because this is framework and your adding in your own opinion to it.

[2016-03-06 03:00] danielstuart14 commented on #387
yeah, it'll be optional.
We're adding a new phone and it'll be the default option, but, the old interface will still exists

Here: https://github.com/ArmaLife/Altis/commit/fa62b076d720fcabdd483e18620961f9bb2bc2e6
(Look the comments)

[2016-03-06 05:17] danielstuart14 commented on #387
phone menu reverted
I'm going to add a new one
you can found images and some comments here:
fa62b07
b3ce3c1

[2016-03-06 05:17] #387 closed

[2016-03-06 05:40] sargken commented on #387
@danielstuart14 Sounds Great Man

[2016-03-06 07:13] Jawshy opened #392 "Abort timeout not working after re-logging"
The 10 second timeout before a player can abort does not appear again after re-logging. No .rpt log errors. Issue likely introduced in #390.

Game version: [1.56.134787](https://dev.arma3.com/post/spotrep-00053)
Mission version: v4.4r1 - latest commit: ac954b0f2f0ea9b5ea1a8784618de008b01afdc2

[2016-03-06 10:55] Jawshy opened #394 "Error in expression - fn_copSearch"
The following appears in the client/local.rpt file when a police officer searches a restrained player. Searching otherwise performs without issue.

[code]

Relevant file(s): Altis/Altis_Life.Altis/core/cop/[fn_copSearch.sqf](https://github.com/ArmaLife/Altis/blob/cab5b9a415250e4fb971e44f0daa665dae947078/Altis_Life.Altis/core/cop/fn_copSearch.sqf)

Full .rpt files available on request.

Game versio

[2016-03-06 13:33] trinitynet opened #395 "Civ POS Saving not working [With HC]"
[code]

On the HC RPT
and on the client is

[code]

Reinstalled twice one with my mission and one just this repo's files. cops spawn fine and civs end up on debug

[2016-03-06 13:39] danielstuart14 commented on #394
https://github.com/ArmaLife/Altis/commit/8da7be9b84a801cef7832c711346663b3462e7cc should fix

[2016-03-06 13:39] #394 closed

[2016-03-06 16:58] Liam0 commented on #388
i don't understand what should be causing this. is it just after you impound a vehicle u can't do any actions for a while?

[2016-03-06 19:33] trinitynet commented on #388
@Liam0 basicly yes... im not sure what's causing this either.. all i know is life_action_inUse is not being set false till 30-60 secs after the veh has been impounded.. will put a vid up in a min

[2016-03-06 19:51] trinitynet commented on #388
here @Liam0 excuse the shit mic and not using hint silent -.- https://www.youtube.com/watch?v=pH562z0DDdI&feature=youtu.be

[2016-03-06 21:31] Liam0 commented on #388
@trinitynet thx for the video. i dont have HC myself and the problem wasn't showing for me without

[2016-03-06 22:18] fEcAlMaTteR commented on #395
Fixed in PR#397

[2016-03-06 22:20] fEcAlMaTteR commented on #388
I fixed this issue in PR#397

[2016-03-06 22:39] fEcAlMaTteR commented on #388
this likely has to do with the hc using (owner _unit) PVC
I've fixed this in PR#397 for vehicleStore  checking on it now

[2016-03-06 23:34] Kimax89 commented on #323
Can we please do the same for houses?

[2016-03-06 23:44] trinitynet commented on #388
testing in a min

[2016-03-06 23:44] trinitynet commented on #395
testing in a min

[2016-03-06 23:45] silvercn commented on #323
What if you have more then one key, also what about keys that you got from a friend? All keys getting stolen?

[2016-03-06 23:49] fEcAlMaTteR commented on #388
Fixed in PR#397.  Was with hc using owner _unit.

[2016-03-06 23:55] fEcAlMaTteR commented on #322
They were confusing at first for me.  But I find them quite handy now.

[2016-03-07 01:34] trinitynet commented on #395
Confirmed Working, Good Job!

[2016-03-07 01:36] trinitynet commented on #388
Can confirm working, thanks again!

[2016-03-07 01:39] #395 closed

[2016-03-07 01:39] #388 closed

[2016-03-07 01:42] trinitynet commented on #392
@Jawshy  i believe this is because Life_fnc_escinterupt is looking for the spawn dialogue to be opened and then closed.

[2016-03-07 03:17] fEcAlMaTteR commented on #323
This would be nice for houses/garages.  Possibly a way to make a vehicle your own instead of chopping(Keep status of stolen.  Possibly removing it after a certain amount of time.)  As for dropping house/car keys when killed will likely open a shit storm.
I would suggest maybe redoing the rob player system with a way to take their inventory or keys.

[2016-03-07 04:31] Heavybob commented on #323
Gang stolen cars?

[2016-03-07 05:58] Jawshy opened #405 "Error in expression - fn_fetchPlayerHouses"
@NiiRoZz

The following appears in the server.rpt file when interacting with house storage containers.

[code]

- Relevant file(s):
  - Altis/life_server/Functions/Housing/[fn_fetchPlayerHouses.sqf](https://github.com/ArmaLife/Altis/blob/master/life_server/Functions/Housing/fn_fetchPlayerHouses.sqf)
  - Altis/life_hc/MySQL/Housing/[fn_fetchPlayerHouses.sqf](https://github.com/ArmaLife/Altis/blob/m

[2016-03-07 06:08] NiiRoZz commented on #405
Ho ok you use HA i Will check it, just wait 10 hours sorry ...

[2016-03-07 06:17] Jawshy commented on #405
HA?

[2016-03-07 07:18] trinitynet commented on #405
think ment HC?

[2016-03-07 08:01] fEcAlMaTteR commented on #405
https://github.com/ArmaLife/Altis/pull/406

[2016-03-07 08:40] trinitynet commented on #392
everything working on my end

[2016-03-07 09:08] Jawshy commented on #392
Likewise. Fix with #401 and #404.

[2016-03-07 09:08] #392 closed

[2016-03-07 09:16] trinitynet commented on #365
#407 Plz test thankies

[2016-03-07 11:46] Jawshy commented on #405
New .rpt error log. Use [Diff Checker](https://www.diffchecker.com/) to see the difference.

[code]

[2016-03-07 15:14] HyunsukBaek commented on #147
merge plz

[2016-03-08 11:38] Jawshy commented on #366
See #410

[2016-03-08 16:21] Irishldevil opened #411 "Battle Eye script 5"
i cant get in my game it keeps saying BattleEye  has kicked you due to script restriction 5

[2016-03-08 23:06] fEcAlMaTteR commented on #411
Not having this issue.  This is likely due to your additions not having proper befilters.  You should check out information on setting up battleye filters.

[2016-03-08 23:08] #411 closed

[2016-03-09 01:15] trinitynet commented on #365
scrap that, still dont work properly

[2016-03-09 08:47] Kimax89 opened #412 "Police Texture"
How about adding some of the textures from http://altispolice.org

I specially like the way "Lincolnshire Police" textures look.

Perhaps it should be default in the AltisLife?

[2016-03-09 14:05] trinitynet commented on #412
you guys not think you are taking this too far?
after-all this is meant to be a framework

[2016-03-09 14:06] trinitynet commented on #366
see #414

[2016-03-09 14:27] Liam0 commented on #412
I have to agree with @trinitynet. Personalization like this should come down to the individual server / community.

[2016-03-09 14:33] trinitynet commented on #412
@Liam0 check u'r gitter chat please

[2016-03-09 14:54] Kimax89 commented on #412
I just thought that since we allready have skins for cop and medic, then why not just go all in?

I dont  see AltisLife as JUST a framework, i see it as a full serverside mod pack filled with everything needed for an awesome RPG experience.

[2016-03-09 15:43] sargken commented on #412
I can see both sides here.

[2016-03-09 15:43] tkcjesse commented on #412
@Kimax89 The reason it's a framework is because your idea of an awesome RPG experience is different than mine and everyone elses...

[2016-03-09 15:47] tkcjesse commented on #365
@trinitynet do you want #407 closed?

[2016-03-09 15:50] Liam0 commented on #355
im not sure if this is releated. a while back i had a problem adding people to the wanted list if you do it from the bounty list. im not sure if its still a problem i never really had time to look into it.

[2016-03-09 16:25] trinitynet commented on #365
plz

[2016-03-09 16:37] JohnMeiers commented on #412
I agree Tonic made this as a framework, for people to create their own server. For one 1 cop texture is fine, but to fully go all out and add textures to the framework is out of hand. This is meant for people to make their own server, and decide what what THEY want in a server not the development branch. I think you guys are going way to far on this!!! adding all kinds of custom stuff, you are tak

[2016-03-10 11:00] Schnuffihy commented on #405
cop house raid ... no drugs found

[2016-03-10 11:13] Jawshy commented on #405
@Schnuffihy, police house search works for me. You have to press the interaction key (Windows key) over a container and select the "search container" option.

[2016-03-10 12:05] KiritoKirigaya2601 commented on #412
The mission is completely a framework, they give you a loadscreen, cop_uniform and medic_uniform default to start you off to edit the textures and create your own, but in total you can't ask them to include more textures as everything on here is being made custom by them all again, adding some textures would remove the individuality, it takes less than 2 minutes to add some textures, if you think

[2016-03-10 15:21] Liam0 commented on #405
i was trying to recreate this last night but all i ended up with was https://github.com/ArmaLife/Altis/pull/415

but i never ran into this error.

is this with HC enabled or disabled? and does it happend on all ur boxes newly placed and after restart? sounds more like an error you get while booting the server considering its in fn_fetchPlayerHouses?

[2016-03-11 01:54] Jawshy commented on #405
@Liam0, I was using life_server; no headless client. I will have to reproduce the error before I can give you a solid answer on those other questions.

[2016-03-11 01:59] Jawshy opened #416 "Error in expression - fn_bountyReceive"
The following appears in the client/local.rpt file when a police officer sends a player on the wanted list to jail. The cop receives a $0 bounty regardless of what the player's bounty is on the wanted list.

[code]

- Relevant file(s):
  - Altis/Altis_Life.Altis/core/cop/[fn_bountyReceive.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/cop/fn_bountyReceive.sqf)

Full .rpt

[2016-03-11 06:56] Kimax89 commented on #147
Can someone close this, since it has been resolved and solution have been merged?

[2016-03-11 06:57] Kimax89 commented on #4
Are we actually using this issue to post what is next?

[2016-03-11 07:06] Kimax89 commented on #299
or... Have the set time in jail at a ratio to the bounty?

Example: if a persons bounty is 10.000 then he has to be in jail for 10 minutes.

Bad luck for those who have a bounty that is more than 10.000. It should have the option to make jail persistent, so even if they combatlog, disconnect or respawn, they will be forced to spend the time in jail. i do think that the player should have the optio

[2016-03-11 07:06] Kimax89 commented on #299
does it make any sense?

[2016-03-11 07:09] Jawshy commented on #147
The "buy/sell item" buttons aren't centred.

[2016-03-11 07:29] Kimax89 commented on #147
oh okay.

[2016-03-11 07:30] Kimax89 commented on #161
@Heavybob do you run that PHP with a cron-job or manually?

[2016-03-11 09:42] Heavybob commented on #416
Confirmed. Nice find @Jawshy

[2016-03-11 09:50] Heavybob commented on #161
cron-job

[2016-03-11 16:32] danielstuart14 commented on #416
hmmm, is it at least texting in the screen the right value?

I think it isn't receiving the bounty value.

[2016-03-11 19:39] trinitynet opened #417 "Keys not returning to players on re-connect [HC]"
When a players vehicle is left out on the server and a player is disconnected or re-connects the keys for that vehicle will not be returned to the player unless the vehicle is stored and retrieved from the garage

[2016-03-11 19:40] trinitynet commented on #417
i have not captured any script errors

[2016-03-11 21:54] danielstuart14 commented on #417
yes, I saw that sometime ago.
Isn't hard to fix, just query the vehicles that are active and push them to the key list.

I'll take a look on it.

[2016-03-12 00:24] danielstuart14 commented on #147
https://github.com/ArmaLife/Altis/commit/f60474c3da941f366a6e7c1bbae43d5583e99260

[2016-03-12 00:24] #147 closed

[2016-03-12 01:54] Jawshy commented on #416
no, the on-screen text says "You have collected a bounty of $0 for arresting a criminal."

[2016-03-12 03:09] danielstuart14 commented on #357
https://github.com/ArmaLife/Altis/pull/418

[2016-03-12 03:22] danielstuart14 commented on #405
can't reproduce that

[2016-03-12 03:22] #405 closed

[2016-03-12 03:53] danielstuart14 commented on #355
https://github.com/ArmaLife/Altis/commit/35695ce288702c398f0b62ea2d1d54c522122871
should fix

[2016-03-12 03:53] #355 closed

[2016-03-12 07:22] NiiRoZz commented on #417
I will fix it sorry for the wait.

[2016-03-12 07:48] NiiRoZz commented on #417
fdaca80c79f2dc30143c847999031a61bbc1ccaa

[2016-03-12 07:48] #417 closed

[2016-03-12 07:48] #412 closed

[2016-03-12 07:53] NiiRoZz commented on #365
6ee59925d6ce458aab48c66b9bb64632f55ce6f2

[2016-03-12 07:54] NiiRoZz commented on #323
If you want this features go code it, for me this feature can't in Tonic Mission, it's ez to code, just use bdd with player id of player give the keys and use script add the key when player connected

[2016-03-12 07:54] #323 closed

[2016-03-12 07:56] NiiRoZz commented on #233
Closed already inside of mission, if you want to don't use it, modify you're mission

[2016-03-12 07:56] #233 closed

[2016-03-12 07:57] #161 closed

[2016-03-12 07:58] #227 closed

[2016-03-12 07:59] NiiRoZz commented on #7
I think it's not for the Official Mission ...

[2016-03-12 07:59] #7 closed

[2016-03-12 07:59] #4 closed

[2016-03-12 08:00] #5 closed

[2016-03-12 08:13] NiiRoZz commented on #357
#419

[2016-03-12 08:16] NiiRoZz commented on #416
Test with this commits : 504a7cb4d3273f97754cade062f290fabe0904eb

[2016-03-12 18:28] healthstr commented on #299
That it does but I believe it should the ratio should be able to be edited in the master config.

[2016-03-13 11:15] NiiRoZz commented on #357
65b14b9996cf673152d7befa004911ddb37f6504

[2016-03-13 11:15] #357 closed

[2016-03-14 02:48] Kimax89 opened #420 "Gang house restriction"
This is just an idea. what if gangs wasnt allowed to buy houses close to each other.

So that 2 players cant be neighbors if they are in different gangs.
Just to split up rival gangs. i think there will be too much fighting if rival gangs was neighbors.

[2016-03-14 03:02] Kimax89 commented on #366
i can see that all the pull request got closed.

Is anyone working on this?

[2016-03-14 05:18] trinitynet commented on #366
dnt think so..

[2016-03-14 11:26] sargken commented on #420
No don't agree with. Limited the players for no reason. I want to see more gang fighting.

[2016-03-14 20:36] HyunsukBaek opened #421 "NIGHTSTALKER can't save in storageBox."
NIGHTSTALKER can't save in storage at house. another acc/item saved well.
is this problem just happens to me?

[2016-03-15 14:29] Kimax89 commented on #420
But i think that gangs should be able to claim areas, without being neighbors.

But if gangs are neighbors, then they will break NLR for sure.

[2016-03-15 14:30] Kimax89 commented on #366
@trinitynet didnt you have some work on that?

Should i try to isolate the code from your messed up pull, and test it?

[2016-03-15 14:35] Kimax89 commented on #421
i believe there is a restriction in what you are able to save in a storagebox. The nightstalker is normally not buy-able in the standart AltisLife. So you eather own or play on a custom server, that have added the nighstalker.

[2016-03-15 15:56] sargken commented on #420
They will break it regardless i dont think it should be in the framework

[2016-03-15 21:57] silvercn opened #422 "Clothingbox not working"
Just tested today the clothingbox and set it to true in masterconfig. But it doesn´t work for me. If someone else could test. Thanks

[2016-03-16 01:23] #420 closed

[2016-03-17 05:25] Kimax89 commented on #422
doesn't work for me ether.

[2016-03-17 13:03] Heavybob commented on #322
Handful of times this has been brought up. Macros make the world easier and removing them to be replaced with raw statements is madness unless you have a better idea.

[2016-03-17 13:06] Heavybob commented on #422
Will test later when I run my patching.

[2016-03-17 13:08] Heavybob commented on #366
Good thing to bring back to main branch. Its a great tool for police when used and can really turn the tide during a fed.

[2016-03-17 18:52] Heavybob commented on #422
What happens with it false?

[2016-03-17 18:52] Heavybob commented on #422
Drop an RPT please both for server and client./

[2016-03-17 20:52] devShit commented on #251
i'm using 3148 i will try

[2016-03-18 01:40] danielstuart14 commented on #416
Closing as it should be fixed.

If needed, just ask for reopening.

[2016-03-18 01:40] #416 closed

[2016-03-18 01:47] danielstuart14 commented on #251
remoteExec:
2 -> Only server
-2 -> Except server (Clients)
0 -> Everyone (Server + Clients)

life_fnc_mp:
true -> Except server (Clients)
false -> Only server
nil -> Everyone (Server + Clients)

[2016-03-18 01:48] #322 closed

[2016-03-18 02:25] Kimax89 commented on #366
I have tested #414 and could'nt get it to work.

[2016-03-18 07:22] ColinM9991 commented on #251
I'll have to update the code over the weekend for that
On 18 Mar 2016 01:47, "Daniel Stuart" <notifications@github.com> wrote:

[2016-03-18 10:47] dardothemaster commented on #422
Working perfectly,just make sure to disable    "clothing_noTP ",as the following code block is executed after the check of the clothing_box parameter

 `waitUntil {isNull (findDisplay 3100)};
if(EQUAL(LIFE_SETTINGS(getNumber,"clothing_noTP"),0)) then {
	{if(_x != player) then {_x hideObject false;};} foreach playableUnits;
	if(EQUAL(LIFE_SETTINGS(getNumber,"clothing_box"),0)) then {
		{if(_x != pl

[2016-03-18 11:21] dardothemaster commented on #361
As you can see on the [wiki](https://community.bistudio.com/wiki/nearestBuilding) , nearestBuilding does not detect objects placed in editor. The tutorial made from baua should work even if the objects are loaded from the mission.sqm.

[2016-03-18 12:11] baua1310 commented on #361
the problem with thw mission.sqm is that houses are not always on the exact same position

[2016-03-18 13:20] dardothemaster commented on #361
Uhm,with the new eden formatting it should be okay

[2016-03-18 19:34] baua1310 commented on #361
ok that fact I havn't known

[2016-03-18 19:56] Heavybob commented on #422
crazy shit be happening.

[2016-03-18 20:28] devShit commented on #251
hey what about cfgRemote its not generate ?

[2016-03-18 20:33] ColinM9991 commented on #251
Nothing I can do for that, you'll have custom functions I have no idea who
the target should be restricted to
On 18 Mar 2016 20:28, "devShit" <notifications@github.com> wrote:

[2016-03-19 02:20] Heavybob opened #427 "Spyglass - Post Errors"
Updated video on how to get an RPT to fix spyglass issues.

https://www.youtube.com/watch?v=RcALhFBWCKw

[2016-03-19 12:11] Liam0 commented on #421
works fine.
![nightstalker](https://cloud.githubusercontent.com/assets/7563573/13898517/10d5cffa-edd4-11e5-9ebc-b3fc559cfbea.jpg)

[2016-03-19 14:00] #421 closed

[2016-03-19 14:06] #422 closed

[2016-03-21 10:00] HyunsukBaek commented on #230
good

[2016-03-21 10:36] dardothemaster commented on #230
Or maybe[ this ](http://www.altisliferpg.com/topic/12229-3148-release-search-seize-for-cops/)

[2016-03-21 11:52] silvercn opened #434 "Picking up redgull doesnt work"
If you buy redgull and die or get killed and try to pick it up, you wont be able to get it.

[2016-03-21 12:12] Liam0 commented on #434
The amount of time's ive seen people having problems picking up items o.O

is this a client/server or client/client sync issue? sometimes if i wait around it makes me able to pick it up but it's still anoying.

it feels like their not properly registered for some units in (some cases) i just find it hard to really figure out whats really going on especially during local testing.

Might be worth lo

[2016-03-22 01:51] Jawshy opened #435 "Admin Menu - Show Secondary Weapon Attachments, misc"
The in-game admin menu lists players' attachments for their primary weapon, but it does not list the attachments for their secondary weapon.

Also the admin menu buttons are slightly misaligned. ![](http://puu.sh/nPhzN/2d5d0d94df.png)

- Relevant file(s):
  - Altis/Altis_Life.Altis/core/admin/[fn_admininfo.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/admin/fn_admininfo.

[2016-03-22 02:19] Jawshy opened #436 "Federal Reserve - Cannot Replace Charge After Defuse"
If a civilian plants a blasting charge on the bank vault and then it is defused, another blasting charge cannot be placed. The hint will say "you must open the container."

Police cannot repair the vault or the issue still persists if they do. No errors in RPT logs. Please try to reproduce.

Game version: [1.56.134787](https://dev.arma3.com/post/spotrep-00053)
Mission version: v4.4r1

[2016-03-22 07:52] DarkSilencerZA commented on #436
It's localized to the person who placed / defused it. We had to re-write the code for the fed as @danielstuart14 used a localized method to stop people from glitching into the fed. Not sure if it was ever fixed.

[2016-03-22 07:53] DarkSilencerZA commented on #230
No, use this: http://www.altisliferpg.com/topic/13539-tutorial-seize-weapons-script/#comment-82983

It works, I'm using it on 4.4.2 (live server).

[2016-03-22 08:54] HyunsukBaek commented on #434
try window + T

[2016-03-22 08:57] HyunsukBaek opened #437 "could u mining something?"
after patched about mining percent, we can't mining every -mine resources.

[2016-03-22 11:47] Liam0 commented on #434
@HyunsukBaek What does windows + T do?

[2016-03-22 12:39] Filippoml commented on #437
yes, it does not work :/

[2016-03-22 13:32] dardothemaster commented on #437
As you can see it's my fault... I don't get why the format changed (probably breaking the script,it  worked before the pull,i swear :/)
Sorry again for that useless pull request.

[2016-03-22 20:24] dardothemaster commented on #437
Fixed in #438 ,sorry again for this shit

[2016-03-22 21:42] silvercn commented on #434
Dunno, for me it does nothing. Anyway, i think best would be fetching items on ground and adding them to a list where you can select it.

[2016-03-23 18:29] HyunsukBaek commented on #434
https://github.com/ArmaLife/Altis/issues/304

[2016-03-23 18:36] HyunsukBaek opened #439 "question) duplication weapons.?"
when I pick up a dropped weapon on ground from  near dead person,
i got  a weapon already but also he has same(duplicated) weapon after he revived.

is this problem about arma3 or Altis mod?

if arma3 side problem, how can we resolve this problem ourselves?

[2016-03-23 18:43] HyunsukBaek commented on #299
good suggestion, but why don't you use origin- countdown UI ?
:)

[2016-03-23 19:00] Liam0 commented on #434
@HyunsukBaek

i don't actually think that ur shift or windows +t is the solution =)

[2016-03-23 19:32] sargken commented on #434
The Issue is its using cursorTarget and unless you have it at the exact spot that that item is for it to detect the object it wont appear. I was asking it to be switched to nearestObject.

[2016-03-23 20:35] Liam0 commented on #434
@sargken, Using a loop&hint i have no problem at all with cursortarget on items sometimes by just pointing near it or at the furthest edges probably because of boundingbox even on the small cans.

[2016-03-23 20:46] danielstuart14 commented on #436
it's about time to fix it. I'll take a look

[2016-03-23 20:48] danielstuart14 commented on #434
we don't use cursorTarget anymore, for items, we're using cursorObject, which has a faster response and doesn't have this problem of having to put the item in the exact spot.

I'll check it

[2016-03-23 20:49] #437 closed

[2016-03-23 20:49] danielstuart14 commented on #439
the weapon should be deleted from the ground when the player dies.

Idk why it isn't.

[2016-03-23 21:16] Liam0 commented on #434
Yeah ur right @danielstuart14 but but that would hopefully just be even better at targeting objects which is why i dont really think the targeting is the problem x) but its odd and its too random -.-

[2016-03-23 23:10] fresqo commented on #439
@HyunsukBaek was the player in a vehicle when he died?

[2016-03-23 23:36] danielstuart14 commented on #434
yeah, we can add a menu, that shows the items on ground and in player's inv.

[2016-03-23 23:49] slaughter666 opened #441 "BE kick using fuel station"
Using default Altis 4.4 I get kicked for script restriction #2 when attempting to use a fuel station. This is the message from logs:

if(!createDialog "Life_FuelStat") exitWith {};
[] spawn {waituntil {!dialo"

[2016-03-24 00:20] dardothemaster commented on #366
Working on it ;)

[2016-03-24 00:43] HyunsukBaek commented on #439
@fresqo  when player killed from other player, died himself (no food & water&accident)  and so on...

[2016-03-24 00:48] HyunsukBaek opened #442 "SUPER JUMP"
WHEN player use jump key on (something like stairs or raised spot ), the player acts super jump and die himself sometimes. it seems like GTA5 Super jump menu. i think it is a jump action(motion) bug.

[2016-03-24 02:16] #441 closed

[2016-03-24 05:40] Jawshy opened #443 "Fuel station pump service is free"
Re-fuelling your vehicle at a fuel station using @NiiRoZz' [pump service](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/Config_Master.hpp#L78-L79) will not cost anything.

Relevant file(s): Altis/Altis_Life.Altis/core/shops/[fn_FuelStatOpen.sqf](https://github.com/ArmaLife/Altis/blob/master/Altis_Life.Altis/core/shops/fn_FuelStatOpen.sqf)

Game version: [1.56.134787](https://dev.a

[2016-03-24 06:04] Jawshy commented on #329
*Bump.*

Also, the following is written to RemoteExec.log when (un)locking:
[code]
For me it only occurred with `C_Boat_Civil_01_F` and `C_Heli_Light_01_civil_F`, but I didn't try every vehicle.

[2016-03-24 06:15] Jawshy commented on #357
Now even more of the BattlEye logs can be spammed with entries like:

###### remoteExec
[code]

###### createVehicle
[code]
If the vehicle's inventory contains `B_Parachute`:
[code]

###### attachTo
[code]

###### setVariable
[code]

###### addBackpackCargo
If the vehicle's inventory contains `B_Parachute`:
[code]

[2016-03-24 08:59] slaughter666 commented on #441
I had done that already after messing around with the filters :D Works perfectly.

Thanks Guys :)

[2016-03-24 18:55] DarkSilencerZA commented on #442
Yep, something Arma related. I don't think it can be fixed. Only way would be to remove the jump ability via keyhandler.

[2016-03-24 20:16] Liam0 commented on #442
Give this a try and tell me if u run into any problems. i don't want to make a pull request for this little thing.

https://github.com/Liam0/Altis/commit/a7aba85e4f0892c8586efbb989752efadd5c9c63

[2016-03-24 20:44] Liam0 commented on #443
it should be taking money off the bank, works for me but only did some quick testing.

[2016-03-24 20:47] Liam0 commented on #439
@danielstuart14 i think it only calls the cleanup if the player gets revived but if the gun has already been picked up it would dupe i guess.

[2016-03-24 21:45] danielstuart14 commented on #439
it should be called when the player dies.... At least this is how it is set.

[2016-03-24 21:46] danielstuart14 commented on #439
The best thing to solve this, is set the player's items to be dropped when he dies and remove they from his inventory.

[2016-03-25 02:49] Jawshy commented on #435
Both fixed in #445.

[2016-03-25 02:49] #435 closed

[2016-03-25 03:25] danielstuart14 commented on #442
https://github.com/ArmaLife/Altis/commit/7e67674df79cc4e8cd2d8e900627fb4804d2f26b

[2016-03-25 03:25] #442 closed

[2016-03-25 15:49] danielstuart14 commented on #436
https://github.com/ArmaLife/Altis/commit/d0bd2f3f3d141d09f6c44419034f2cb6ddd56ec6
https://github.com/ArmaLife/Altis/commit/94a0c6e1c2a8b3b1b1dd6a82ef4b6357c24d7035

I didn't test the repairDoor commit, but everything should work.

[2016-03-25 15:49] #436 closed

[2016-03-25 21:03] Kimax89 commented on #366
Thanks @dardothemaster
Can't wait to test it. :D

[2016-03-26 22:56] danielstuart14 opened #449 "Tempest Device with the new mining script"
Just adding it here to remember myself it needs to be fixed.

If someone wants to fix it, just say here then, otherwise, I'll take a look into it later.

[2016-03-27 00:44] dardothemaster commented on #449
The tempest is working,without the use of percents,but it's working

I pulled that so i think it's my fault

But i am not able to find an actual bug(?)

[2016-03-27 11:57] danielstuart14 commented on #449
It's about the percents, I'm going to add support for it.
Isn't your fault, I just add it here, so I can remember to "fix" it.

[2016-03-27 12:48] dardothemaster commented on #449
Ups sorry,misunderstood

If you do not have time i can take care of the issue.

[2016-03-27 15:51] HyunsukBaek opened #451 "opinion : About Commit"
thanks for your commit and patch to this repository contributor..

but im disappointing sometimes.

everyday i fetched from this master repository and applied on my server and play about 40~50 people.  but sometimes i found some of errors of patched files / codes, so i wasted lots of time.

why don't every-commiter do TEST  on lastest master before pull request or commit???

[2016-03-27 16:50] Liam0 commented on #451
I think everyone is trying to keep it at a minimum @HyunsukBaek but sometimes u get blind sided by the code and errors happen. i think everyone is commited to get the problems solved as fast a posible tho (when they do happen).

i like making my changes as pull requests because this way u have a second pair of eyes looking trough the code just before it gets merged.

[2016-03-28 02:20] Jawshy commented on #451
Also keep in mind that as this is a development repository it will not necessarily always be stable.

Think of ArmaLife/Altis like *Arma 3*'s [dev-branch](https://dev.arma3.com/dev-branch) and [TAWTonic/Altis-Life](https://github.com/TAWTonic/Altis-Life) like *Arma 3*'s [main branch](https://dev.arma3.com/spotrep).

[2016-03-28 02:34] danielstuart14 commented on #451
Master branch for daily use is the same as using a plastic bag as condom.... YOU KNOW IT WASN'T MAKE FOR THAT.

If you use a build in your server, or you use the latest version in Tonic's repo, or, you use the latest release here. (But it can have bugs too)

[2016-03-28 02:35] #451 closed

[2016-03-28 17:11] N1colas62 opened #454 "Auto-clikers"
Hi,

On my server, stupid player play with auto-clicker.
I have already Infistar but doesn't work..

On garage, they active there auto-clickers and they go in garage, and sell cars with this.

[2016-03-28 17:20] NiiRoZz commented on #454
Already exist anti spam in Altis ...

[2016-03-28 18:45] dardothemaster commented on #454
I think life_action_delay solved the issue

[2016-03-28 23:30] danielstuart14 commented on #454
garage auto-clicker doesn't work anymore.

[2016-03-28 23:30] #454 closed

[2016-03-29 19:38] HyunsukBaek opened #455 "SQM FILE CONVERTED TO EDEN EDITOR GIVES LOG SPAM"
hi. contributors.

i have 2 issues of spam server rpt logs.

when i converted mission.sqm files to 3d editor, then logged SPAM as follows,

when i selected "not first slot" in cop or medic role(group)
-------------------------------------------------------------------
 - no leader
Group B Alpha 1-2 (0x2382a480) - network ID 2:1361
 - no leader
Group B Alpha 1-2 (0x2382a480) - network ID 2:1361
 -

[2016-03-29 19:41] HyunsukBaek commented on #328
fucking spam log i got too like this.
how to avoid or ignore this spam???

[2016-03-29 19:52] clackd1amond commented on #455
Just change player slot (red circle) to playable slot (purple circle). Can't remember how exactly those called

[2016-03-29 19:55] danielstuart14 commented on #455
I'm going to upload a mission converted. Headless client with eden was fixed in the latest arma patch, so, we can set mission as EDEN by default now.

[2016-03-29 21:15] tkcjesse commented on #230
I'll be doing both a ground seizure and also off persons. Expect it in a few hours.

[2016-03-30 01:49] HyunsukBaek commented on #455
@clackd1amond   cop and medic slots has no red circle, just civ has red circle. change this?

[2016-03-30 04:53] HyunsukBaek commented on #455
@clackd1amond  i did it u told, but still happened.

[2016-03-30 04:53] HyunsukBaek commented on #455
@danielstuart14  when ?

[2016-03-30 04:59] tkcjesse commented on #455
Chill Fam. I'll take a look at in a second.

[2016-03-30 06:42] Heavybob opened #458 "Exploits + Master Config Setting for Usable Cop Gear"
Dupe Issues: - Requires Partner
Sync data and pull internet out. Partner loots body.
Main guy reconnects to the server with full gear and partner still has it.

Escape + I Housing Exploit:
Press Escape + I when looking at a house box.

Also would like to suggest a setting in the master config of weapons / clothing civs are unable to use or attain to prevent civ / cop exploitation.

[2016-03-30 10:03] tkcjesse commented on #230
Player Item Seize -> https://github.com/ArmaLife/Altis/pull/459

[2016-03-30 10:20] #230 closed

[2016-03-30 10:25] tkcjesse commented on #439
@HyunsukBaek Can you try with this added? If I recall a few months ago the only issue I was really having with this was that if the player had a secondary weapon that you could then pickup the secondary but the primary wasn't an issue.

[2016-03-30 10:31] Kimax89 commented on #455
@HyunsukBaek Take it easy. At the current state, AltisLife doesnt support the new mission format, but it will come. If you cant get it to work, then use the original mission file provided in the Master Build.

[2016-03-30 14:05] Liam0 commented on #443
If its still a problem just reopen this, but it did take money of my bank during testing with the latest commits.

[2016-03-30 14:05] #443 closed

[2016-03-30 14:14] Liam0 commented on #458
The exploits definitely needs a fix

[2016-03-30 15:38] Kimax89 commented on #366
Any progress, @dardothemaster ???

[2016-03-30 15:41] dardothemaster commented on #366
The effect is done. Btw i am still trying to handle the script in the best
way,without loops

Il mer 30 mar 2016 17:38 Klaus Kirkeby <notifications@github.com> ha
scritto:

[2016-03-30 17:55] tkcjesse commented on #458
Regarding First Issue: Since when can you access dead bodies?

[2016-03-30 21:37] tkcjesse opened #468 "Anti-Cheat (Whitelist / Blacklist)"
This is more of a reminder to myself. I intend to make two sections in some config file to allow server owners to specify the items they want to check against players. Then if the players have those items they get the items removed and flagged probably via diag_log for the time being. Otherwise we can possibly do a kick method once I have time to assemble something using servercommandpassword and

[2016-03-30 21:42] tkcjesse opened #469 "Player Data Logging"
Since I assume most people don't use a logging .dll or other means of logging like Splunk or other big data processor. I'll work on a means of logging player money transactions and such using diag_logs.

Things to log(feel free to suggest):
- Bank Transactions (ATM Withdrawal / Deposits)
- Player Money Pickups
- Player Money Disconnects
- Player Item Sales
- Player Purchases
- Player Kills

Otherw

[2016-03-30 22:38] Liam0 commented on #468
You could also just use be filters that would make it easier but then again some people dont use them.

[2016-03-30 22:41] tkcjesse commented on #468
BE Filters require maintaining through changes. This wouldn't. The current BE filters need a lot of work too.....

[2016-03-31 04:58] Kimax89 commented on #468
BE Filters are actually really easy to maintain. i use around 5 minutes on each update.
It would be nice if everybody toke the 10 minutes, to just learn how Battleye works.

I use Battleye instead of Spyglass on my server and if people succeed to cheat on my server, they are welcome. But if Battleye catches them, they are banned.

[2016-03-31 05:20] Heavybob commented on #458
it only works for a few seconds after player dies due to disconnect.